<div id="preloader-wrapper-sabio" *ngIf="cargando">
    <div class="preloader-sabio">
        <div class="spin"></div>
        <div class="txt-loading">
            <span data-text-preloader="C" class="letters-loading">
        C
      </span>
            <span data-text-preloader="A" class="letters-loading">
        A
      </span>
            <span data-text-preloader="R" class="letters-loading">
        R
      </span>
            <span data-text-preloader="G" class="letters-loading">
        G
      </span>
            <span data-text-preloader="A" class="letters-loading">
        A
      </span>
            <span data-text-preloader="N" class="letters-loading">
        N
      </span>
            <span data-text-preloader="D" class="letters-loading">
        D
      </span>
            <span data-text-preloader="O" class="letters-loading">
        O
      </span>
        </div>
    </div>
</div>

<div *ngIf="!cargando" class="container-fluid m-0 p-0 overflow-hidden wow fadeIn" data-wow-duration="0.6s">
    <div class="row background-landing m-0 p-0 h-100 min-vh-100">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-lx-12 m-0 p-0 set_zindex">
            <a class="set_cursor" routerLink="/landing">
                <div class="position-absolute mt-4 ml-2 ml-sm-4 animated-logo">
                    <img class="logo d-inline-block align-top" src="../../../assets/logoWhite.png" alt="">
                    <div class="glow-wrap">
                        <i class="glow"></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-sm-12">
            <div class="row d-flex flex-row justify-content-center h-100 w-100 min-vh-100 p-0 m-0">
                <div class="col-11 col-sm-10 col-md-8 col-lg-6 col-xl-3 d-flex flex-row align-items-center align-self-center justify-content-center">
                    <div class="w-100">
                        <h1 class="tip_fuen_helvetica_l txt_xl txt_color_amarillo m-0 p-0 mb-sm-4">Olvido su clave?</h1>
                        <p class="tip_fuen_helvetica_r txt_sm txt_color_gris_oscuro_m line_height_lg mb-5 d-none d-sm-none d-md-block">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt, ullam mollitia. A velit sunt magnam mollitia similique commodi facere.
                        </p>
                        <form class="forms-custom-forgotpassword" ngNativeValidate #f="ngForm" (ngSubmit)="resetPassword( f )">
                            <div class="form-group inner-addon left-addon">
                                <input [ngModel]="email" name="email" type="email" class="form-control" id="name" required data-validation-required-message="Please enter your name.">
                                <i class="fa fa-user"></i>
                                <span class="form-bar"></span>
                                <label class="float-label m-0" for="name"><span class="tip_fuen_helvetica_r letter">Digite su correo electronico</span></label>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="d-flex flex-row justify-content-center mt-4-custom mb-4 mt-sm-5 mb-sm-4">
                                <button class="button-full-custom set_cursor" type="submit">
                    <div class="d-flex flex-row justify-content-center align-items-center align-self-center set-margin-top"><span class="tip_fuen_helvetica_l txt_xs letter">Enviar</span><span
                        class="tip_fuen_helvetica_l txt_xs letter">Enviar</span></div>
                  </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer class="fixed-bottom"></app-footer>