<div id="preloader-wrapper-sabio" *ngIf="cargando">
    <div class="preloader-sabio">
        <div class="spin"></div>
        <div class="txt-loading">
            <span data-text-preloader="C" class="letters-loading">
        C
      </span>
            <span data-text-preloader="A" class="letters-loading">
        A
      </span>
            <span data-text-preloader="R" class="letters-loading">
        R
      </span>
            <span data-text-preloader="G" class="letters-loading">
        G
      </span>
            <span data-text-preloader="A" class="letters-loading">
        A
      </span>
            <span data-text-preloader="N" class="letters-loading">
        N
      </span>
            <span data-text-preloader="D" class="letters-loading">
        D
      </span>
            <span data-text-preloader="O" class="letters-loading">
        O
      </span>
        </div>
    </div>
</div>


<div class="container-fluid m-0 p-0 wow fadeIn" data-wow-duration="0.6s">
    <div class="row background-landing m-0 p-0 h-100 min-vh-100">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-lx-12 m-0 p-0 set_zindex">
            <a class="set_cursor" routerLink="/landing">
                <div class="position-absolute mt-4 ml-2 ml-sm-4 animated-logo">
                    <img class="logo d-inline-block align-top" src="../../../assets/logoWhite.png" alt="">
                    <div class="glow-wrap">
                        <i class="glow"></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-sm-12">
            <div class="row d-flex flex-row justify-content-center align-items-center align-self-center h-100 w-100 min-vh-100 p-0 m-0">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-7">
                    <div class="row d-flex flex-row justify-content-center align-items-center align-self-center h-100 min-vh-100">
                        <div class="w-100">
                            <div class="department-information"></div>
                            <div class="jsmaps-wrapper d-flex flex-row justify-content-center align-items-center" id="colombia-map">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-5 mt-3 mt-sm-3 mt-md-3 mt-lg-4 mt-xl-0 p-3 p-sm-5 p-md-5 p-lg-0 p-xl-0">
                    <div class="row d-flex flex-row justify-content-center justify-content-xl-start">
                        <div class="col-12 col-sm-12 col-md-10 col-lg-8">
                            <div class="container-info">
                                <h1 class="tip_fuen_helvetica_l txt_xl txt_color_azul m-0 p-0 mb-sm-4">Seleccione una entidad</h1>
                                <p class="tip_fuen_helvetica_r txt_sm txt_color_gris_oscuro_m line_height_lg mb-5 d-none d-sm-none d-md-block text-left">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, libero consequuntur provident aut ullam suscipit, a qui nesciunt voluptatum atque, unde tenetur. Provident at dolor doloribus quae asperiores ab aperiam.</p>
                                <form class="forms-custom-hmofilter" ngNativeValidate #f="ngForm" (ngSubmit)="buscar( f )" action="">
                                    <div class="form-group inner-addon left-addon">
                                        <select class="form-control" (change)="onChangeEntidad($event.target.value)" name="entidad" [ngModel]='entidad_seleccionada' id="selecionarEntidad" required data-validation-required-message="Porfavor seleccione una entidad">
                      <option class="custom-option" hidden></option>
                      <option class="custom-option" *ngFor="let entitie of entidades">{{ entitie | uppercase }}</option>
                    </select>
                                        <i class="fa icon-entidad"></i>
                                        <span class="form-bar"></span>
                                        <label class="float-label m-0" for="name"><span class="tip_fuen_helvetica_r letter">Seleccionar
                        entidad</span></label>
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="form-group inner-addon left-addon">
                                        <select class="form-control" (change)="onChangeEnfermedad($event.target.value)" name="enfermedad" [ngModel]='enfermedad_seleccionada' id="seleccionarEnfermedad" required data-validation-required-message="Porfavor seleccione una entidad">
                      <option class="custom-option" hidden></option>
                      <option class="custom-option" *ngFor="let sick of enfermedades">{{ sick | uppercase }}</option>
                    </select>
                                        <i class="fa icon-enfermedad"></i>
                                        <span class="form-bar"></span>
                                        <label class="float-label m-0" for="name"><span class="tip_fuen_helvetica_r letter">Selecionar
                        Enfermedad</span></label>
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <!--<div class="select-dep">-->
                                    <div class="form-group inner-addon left-addon"><select class="form-control" name="departamento" [ngModel]='departamento_seleccionado' id="selecionarDepartamento" required data-validation-required-message="Por favor seleccione un departamento">
                      <option hidden></option>
                      <option class="custom-option" *ngFor="let place of departamentosMostrar">{{ place | uppercase }}
                      </option>
                    </select>
                                        <i class="fa icon-colombia"></i><span class="form-bar"></span><label class="float-label m-0" for="name"><span class="tip_fuen_helvetica_r letter">Seleccionar Departamento</span></label>
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <!--</div>-->
                                    <div class="d-flex flex-row justify-content-center mt-4-custom mb-4 mt-sm-5 mb-sm-4">
                                        <button class="button-full-custom set_cursor" type="submit">
                      <div
                        class="d-flex flex-row justify-content-center align-items-center align-self-center set-margin-top">
                        <span class="tip_fuen_helvetica_l txt_xs letter">Confirmar</span><span
                          class="tip_fuen_helvetica_l txt_xs letter">Confirmar</span></div>
                    </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer class="position-sticky"></app-footer>