<div class="container-fluid m-0 p-0 overflow-hidden wow fadeIn position-sticky"
  data-wow-duration="0.6s">
  <div class="row background-landing m-0 p-0 h-100 min-vh-100">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-lx-12 m-0 p-0 set_zindex">
      <a class="set_cursor" routerLink="/landing">
        <div class="position-absolute mt-4 ml-2 ml-sm-4 animated-logo">
          <img class="logo d-inline-block align-top" src="../../../assets/logoWhite.png" alt="">
          <div class="glow-wrap">
            <i class="glow"></i>
          </div>
        </div>
      </a>
    </div>
    <div class="d-flex flex-row justify-content-end">
      <div class="d-flex flex-row justify-content-center align-items-center align-self-center position-absolute orbits">
        <img class="position-absolute outer-orbit" src="../../../assets/orbitOne.png" alt="">
        <img class="position-absolute orbit-inner-one" src="../../../assets/orbitTwo.png" alt="">
        <img class="position-absolute orbit-inner-two" src="../../../assets/orbitThree.png" alt="">
      </div>
    </div>
    <div class="col-12 col-sm-12">
      <div class="row d-flex flex-row justify-content-start align-items-end h-100 w-100 min-vh-100 p-0 m-0">
        <div class="position-absolute container-welcome">
          <h1 class="tip_fuen_helvetica_l txt_xl txt_color_azul line_height_xl wow fadeIn" data-wow-duration="2s"
            data-wow-delay="0.6s">Plataforma de Analítica <span
              class="tip_fuen_helvetica_l txt_xl txt_color_blanco">"SABIO"</span></h1>
          <p class="tip_fuen_helvetica_r txt_sm txt_color_gris_oscuro_m mt-4 p-0 line_height_lg wow fadeIn text-left"
            data-wow-duration="2s" data-wow-delay="1.2s">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus minima officia quidem, mollitia exercitationem asperiores qui blanditiis voluptatum at.</p>
          <div class="d-flex flex-row mt-3 mt-sm-5 p-0 wow fadeInDown" data-wow-duration="2s" data-wow-delay="1.8s">
            <a class="enter-button set_cursor ml-0 mr-2 mr-sm-4" routerLink="/login">
              <div><span class="tip_fuen_helvetica_l txt_xs_mini letter">Entrar</span><span
                  class="tip_fuen_helvetica_l txt_xs_mini letter">Entrar</span></div>
            </a>
            <a class="about-button set_cursor ml-0 mr-2 mr-sm-5" routerLink="/about">
              <div><span class="tip_fuen_helvetica_b txt_xs_mini letter">Acerca de</span><span
                  class="tip_fuen_helvetica_b txt_xs_mini letter">Acerca de</span></div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer class="fixed-bottom"></app-footer>
