<div class="container-fluid m-0 p-0 overflow-hidden wow fadeIn" data-wow-duration="0.6s">
  <div class="row background-landing m-0 p-0 h-100 min-vh-100">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-lx-12 m-0 p-0 set_zindex">
      <a class="set_cursor" routerLink="/landing">
        <div class="position-absolute mt-4 ml-2 ml-sm-4 animated-logo">
          <img class="logo d-inline-block align-top" src="../../../assets/logoWhite.png" alt="">
          <div class="glow-wrap">
            <i class="glow"></i>
          </div>
        </div>
      </a>
    </div>
    <div class="col-12 col-sm-12">
      <div class="row d-flex flex-row justify-content-center h-100 w-100 min-vh-100 p-0 m-0">
        <div
          class="col-11 col-sm-10 col-md-8 col-lg-6 col-xl-3 d-flex flex-row align-items-center align-self-center justify-content-center">
          <div class="w-100">
            <h1 class="tip_fuen_helvetica_l txt_xl txt_color_amarillo m-0 p-0 mb-sm-4">Bienvenido</h1>
            <p
              class="tip_fuen_helvetica_r txt_sm txt_color_gris_oscuro_m line_height_lg mb-5 d-none d-sm-none d-md-block">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt, ullam mollitia. A velit sunt magnam
              mollitia similique commodi facere, laudantium id atque nobis animi alias corporis neque aut sit
              necessitatibus.</p>
            <form class="forms-custom-login" ngNativeValidate #f="ngForm" (ngSubmit)="ingresar( f )">
              <div class="form-group inner-addon left-addon">
                <input [ngModel]="username" name="username" type="text" class="form-control" id="name" required
                  data-validation-required-message="Please enter your name.">
                <i class="fa fa-user"></i>
                <span class="form-bar"></span>
                <label class="float-label m-0" for="name"><span
                    class="tip_fuen_helvetica_r letter">Usuario</span></label>
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group inner-addon left-addon">
                <input ngModel name="password" type="password" class="form-control" id="name" required
                  data-validation-required-message="Please enter your name.">
                <span class="fa fa-lock"></span>
                <span class="form-bar"></span>
                <label class="float-label m-0" for="name"><span class="tip_fuen_helvetica_r letter">Clave</span></label>
                <p class="help-block text-danger"></p>
              </div>
              <button class="button-full-custom set_cursor mt-4-custom mb-4 mt-sm-5 mb-sm-4" type="submit">
                <div class="d-flex flex-row justify-content-center align-items-center align-self-center set-margin-top">
                  <span class="tip_fuen_helvetica_l txt_xs letter">Entrar</span><span
                    class="tip_fuen_helvetica_l txt_xs letter">Entrar</span></div>
              </button>
              <a routerLink="/forgotpassword">
                <p class="tip_fuen_helvetica_l txt_sm txt_color_gris_oscuro_m text-center links-footer">Olvido su clave?
                </p>
              </a>
            </form>
            <hr class="border-line mt-0 mt-sm-4 d-none d-sm-block d-md-block">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer class="fixed-bottom"></app-footer>
