<div class="d-flex flex-row align-items-center align-self-center footer">
  <div class="container-fluid mr-0 mr-ms-5 mr-md-5 p-0 p-sm-0">
    <div class="d-flex flex-column flex-sm-row justify-content-end justify-content-sm-center justify-content-lg-end align-items-center align-self-center">
      <a class="set_cursor"><span class="tip_fuen_helvetica_l txt_xs_mini txt_color_gris_oscuro mb-0 mr-0 mr-sm-4 links-footer">PLATAFORMA DE ANALÍTICA EN SALUD</span></a>
      <a href="http://bios.co/" target="_blank" class="set_cursor"><span class="tip_fuen_helvetica_l txt_xs_mini txt_color_gris_oscuro mb-0 mr-0 mr-sm-4 links-footer">&copy; 2020 BIOS.CO</span></a>
    </div>
  </div>
</div>
