<div class="container-fluid pl-0 pr-0 pt-3 pl-sm-0 pr-sm-0 pt-sm-3 pl-md-0 pr-md-0 pt-md-3 pl-lg-4 pr-lg-4 pt-lg-3 pl-xl-5 pr-xl-5 pt-xl-4 wow fadeIn" data-wow-duration="0.9s">
    <div class="row pb-0 pt-3 pb-sm-0 pt-sm-3 pl-md-5 pr-md-5 pb-md-0 pt-md-3 pl-lg-5 pr-lg-5 pb-lg-0 pt-lg-3 pl-xl-5 pr-xl-5 pb-xl-0 pt-xl-3">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-0 mt-sm-0 mt-md-0 mt-lg-0 mt-xl-0 pl-md-0 pr-md-2 pl-lg-0 pr-lg-0 pl-xl-0 pr-xl-2">
            <div class="row">
                <div class="col-12">
                    <div class="card-container">
                        <div class="card border-0 rounded-0 shadow-card">
                            <div class="table-general">
                                <div class="card-header pt-1 pb-1 bg_gris_claro shadow-header">
                                    <div class="row d-flex flex-row justify-content-between align-items-center align-self-center">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                            <div class="row">
                                                <div class="col-12 d-flex flex-row justify-content-start align-items-center align-self-center">
                                                    <h1 class="txt_color_negro txt_sm tip_fuen_helvetica_r">Gestión de Usuarios</h1>
                                                    <button class="button-add-custom set_cursor ml-3" data-toggle="modal" (click)="agregar()" data-target="#modalAddEditUser">
                            <div class="d-flex flex-row justify-content-center align-items-center align-self-center">
                              <span class="tip_fuen_helvetica_l"><i class="fa icon-agregarusuario"></i></span><span
                                class="tip_fuen_helvetica_l"><i class="fa icon-agregarusuario"></i></span></div>
                          </button>
                                                </div>
                                                <div class="container-search">
                                                    <form class="forms-custom-search" action="">
                                                        <div class="form-group inner-addon left-addon">
                                                            <input type="text" class="form-control" name="searchUser" [(ngModel)]="searchFilterUser" autocomplete="off">
                                                            <i class="fa fa-search"></i>
                                                            <span class="form-bar"></span>
                                                            <label class="float-label m-0" for="name"><span
                                  class="tip_fuen_helvetica_r letter">Buscar</span></label>
                                                            <p class="help-block text-danger"></p>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body d-flex flex-row justify-content-center align-items-center align-self-center pl-0 pr-0 pb-0 pt-0">
                                    <div class="container-fluid d-flex flex-column justify-content-start align-items-stretch align-self-stretch flex-wrap p-0 m-0">
                                        <div class="table-responsive">
                                            <table id="dataAdmin" class="table table-striped nowrap mb-0" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">
                                                            <span class="txt_color_negro txt_sm tip_fuen_helvetica_l">Id</span>
                                                        </th>
                                                        <th scope="col">
                                                            <span class="txt_color_negro txt_sm tip_fuen_helvetica_l">Usuario</span>
                                                        </th>
                                                        <th scope="col">
                                                            <span class="txt_color_negro txt_sm tip_fuen_helvetica_l">Nombre</span>
                                                        </th>
                                                        <th scope="col">
                                                            <span class="txt_color_negro txt_sm tip_fuen_helvetica_l">Correo</span>
                                                        </th>
                                                        <th scope="col">
                                                            <span class="txt_color_negro txt_sm tip_fuen_helvetica_l">Entidad</span>
                                                        </th>
                                                        <th scope="col">
                                                            <span class="txt_color_negro txt_sm tip_fuen_helvetica_l">Rol</span>
                                                        </th>
                                                        <th scope="col">
                                                            <span class="txt_color_negro txt_sm tip_fuen_helvetica_l">Activo</span>
                                                        </th>
                                                        <th scope="col">
                                                            <span class="txt_color_negro txt_sm tip_fuen_helvetica_l">Fecha Registro</span>
                                                        </th>
                                                        <th scope="col">
                                                            <span class="txt_color_negro txt_sm tip_fuen_helvetica_l">Ultimo Ingreso</span>
                                                        </th>
                                                        <th scope="col"><span class="txt_color_negro txt_sm tip_fuen_helvetica_l">Acciones</span>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <ng-container *ngFor='let user of usuarios | filter:searchFilterUser | paginate: { itemsPerPage: itemsPerPage, currentPage: pageActual, id: "gestionUsuarios" }; let i = index'>
                                                        <tr *ngIf="user.is_superuser=='False'">
                                                            <td><span class="txt_color_negro txt_xs tip_fuen_helvetica_r letter">{{i}}</span></td>
                                                            <td class="pt-3"><span class="txt_color_negro txt_xs tip_fuen_helvetica_r letter">{{ user.username }}</span>
                                                            </td>
                                                            <td class="pt-3"><span class="txt_color_negro txt_xs tip_fuen_helvetica_r letter">{{ user.first_name }}</span>
                                                            </td>
                                                            <td class="pt-3"><span class="txt_color_negro txt_xs tip_fuen_helvetica_r letter">{{ user.email }}</span>
                                                            </td>
                                                            <td class="pt-3"><span class="txt_color_negro txt_xs tip_fuen_helvetica_r letter">{{ user.entidad }}</span>
                                                            </td>
                                                            <td class="pt-3"><span class="txt_color_negro txt_xs tip_fuen_helvetica_r letter">{{ user.rol }}</span>
                                                            </td>
                                                            <td *ngIf='user.is_active; else no_active'>
                                                                <i class="fa icon-activado pt-2"></i>
                                                            </td>
                                                            <ng-template #no_active>
                                                                <td>
                                                                    <i class="fa icon-desactivado pt-2"></i>
                                                                </td>
                                                            </ng-template>
                                                            <td class="pt-3"><span class="txt_color_negro txt_xs tip_fuen_helvetica_r letter">{{ user.date_joined | date:'MMM dd, y  HH:mm' }}</span>
                                                            </td>
                                                            <td *ngIf='user.last_login; else no_date' class="pt-3"><span class="txt_color_negro txt_xs tip_fuen_helvetica_r letter">{{ user.last_login | date:'MMM dd, y  HH:mm' }}</span>
                                                            </td>
                                                            <ng-template #no_date>
                                                                <td class="pt-3"><span class="txt_color_negro txt_xs tip_fuen_helvetica_r letter">---</span>
                                                                </td>
                                                            </ng-template>
                                                            <td>
                                                                <div class="d-flex flex-row justify-content-center align-items-center align-self-center">
                                                                    <button (click)="editar( user )" class="button-edit-custom set_cursor mr-2" data-toggle="modal" data-target="#modalAddEditUser">
                                    <div
                                      class="d-flex flex-row justify-content-center align-items-center align-self-center">
                                      <span class="tip_fuen_helvetica_l"><i
                                          class="fa icon-editarusuario"></i></span><span class="tip_fuen_helvetica_l"><i
                                          class="fa icon-editarusuario"></i></span></div>
                                  </button>
                                                                    <button (click)="editar( user )" class="button-desactivate-custom set_cursor" data-toggle="modal" data-target="#modalChangePassword">
                                    <div
                                      class="d-flex flex-row justify-content-center align-items-center align-self-center">
                                      <span class="tip_fuen_helvetica_l"><i
                                          class="fa icon-desactivarusuario"></i></span><span
                                        class="tip_fuen_helvetica_l"><i class="fa icon-desactivarusuario"></i></span>
                                    </div>
                                  </button>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </ng-container>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="d-flex flex-row justify-content-center align-items-center align-self-center mt-3">
                                            <form autocomplete="off">
                                                <div class="form-group inner-addon left-addon">
                                                    <select class="form-control filterPageTable" (change)="cantitieUser($event.target.value)" id="selectCantitieUser">
                            <option class="custom-option" selected>5</option>
                            <option class="custom-option">10</option>
                            <option class="custom-option">25</option>
                            <option class="custom-option">50</option>
                          </select>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="d-flex flex-row justify-content-center align-items-center align-self-center mt-0">
                                            <p class="txt_color_negro txt_xs tip_fuen_helvetica_l text-center mb-2">Existen un total de
                                                <span>{{ cantidadUsuarios }}</span> registros</p>
                                        </div>
                                        <div class="d-flex flex-row justify-content-center align-items-center align-self-center">
                                            <pagination-controls autoHide="true" responsive="true" previousLabel="Anterior" nextLabel="Siguiente" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page" (pageChange)="pageActual = $event" id="gestionUsuarios"></pagination-controls>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal animated fadeIn fast" id="modalAddEditUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title tip_fuen_helvetica_l txt_sm pl-3">{{ modalTitle }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body pb-1">
                <div class="row">
                    <div class="col-12 mb-3">
                        <form class="form-custom-crud" autocomplete="nope" #f1="ngForm" ngNativeValidate (ngSubmit)="guardarUsuario(f1)">
                            <div class="form-row">
                                <div class="form-group inner-addon left-addon col-md-6">
                                    <input type="text" class="form-control" id="usuario" [(ngModel)]="usuario.username" name='username' required data-validation-required-message="Por favor ingresa un nombre de usuario">
                                    <i class="fa icon-credenciales"></i>
                                    <span class="form-bar"></span>
                                    <label class="float-label m-0" for="name">
                    <span class="tip_fuen_helvetica_r letter">Usuario</span>
                  </label>
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group inner-addon left-addon col-md-6">
                                    <input type="text" class="form-control" id="nombre" [(ngModel)]="usuario.first_name" name='first_name' required data-validation-required-message="Porfavor ingresa un nombre">
                                    <i class="fa icon-credenciales"></i>
                                    <span class="form-bar"></span>
                                    <label class="float-label m-0" for="name">
                    <span class="tip_fuen_helvetica_r letter">Nombre</span>
                  </label>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group inner-addon left-addon col-md-12">
                                    <input type="email" class="form-control" id="correo" [(ngModel)]="usuario.email" name='email' required data-validation-required-message="Porfavor ingresa un correo">
                                    <i class="fa icon-correo"></i>
                                    <span class="form-bar"></span>
                                    <label class="float-label m-0" for="name">
                    <span class="tip_fuen_helvetica_r letter">Correo</span>
                  </label>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="form-row">
                                <div *ngIf='!esconderPassword' class="form-group inner-addon left-addon col-md-6">
                                    <input ngModel type="password" class="form-control" id="contrasena" name='password' required data-validation-required-message="Porfavor ingresa una contraseña">
                                    <i class="fa icon-contrasena"></i>
                                    <span class="form-bar"></span>
                                    <label class="float-label m-0" for="name">
                    <span class="tip_fuen_helvetica_r letter">Contraseña</span>
                  </label>
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group inner-addon left-addon col-md-6">
                                    <select class="form-control classic" (change)="onChangeRol($event.target.value)" id="selectrol" name='rol' [(ngModel)]="usuario.rol" required>
                    <option class="" hidden></option>
                    <ng-container *ngFor="let rol of roles">
                      <div *ngIf="rol == usuario.rol; then block1 else block2"></div>
                      <ng-template #block1>
                        <option class="custom-option" selected>{{ rol }}</option>
                      </ng-template>
                      <ng-template #block2>
                        <option class="custom-option">{{ rol }}</option>
                      </ng-template>
                    </ng-container>
                  </select>
                                    <i class="fa icon-rol"></i>
                                    <span class="form-bar"></span>
                                    <label class="float-label m-0" for="name">
                    <span class="tip_fuen_helvetica_r letter">Rol</span>
                  </label>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="form-row">
                                <div *ngIf='mostrarEntidad' class="form-group inner-addon left-addon col-md-6">
                                    <select class="form-control classic" id="selectentidad" name='entidad' [(ngModel)]="usuario.entidad" required>
                    <option class="" hidden></option>
                    <ng-container *ngFor="let entitie of entidades">
                      <div *ngIf="entitie == usuario.entidad; then block1 else block2"></div>
                      <ng-template #block1>
                        <option class="custom-option" selected>{{ entitie | uppercase }}</option>
                      </ng-template>
                      <ng-template #block2>
                        <option class="custom-option">{{ entitie | uppercase }}</option>
                      </ng-template>
                    </ng-container>
                  </select>
                                    <i class="fa icon-entidad ml-2"></i>
                                    <span class="form-bar"></span>
                                    <label class="float-label m-0" for="name">
                    <span class="tip_fuen_helvetica_r letter">Entidad</span>
                  </label>
                                </div>
                                <div class="form-group col-md-6 container-custom-radio">
                                    <label class="tip_fuen_helvetica_l">¿Desea activar este usuario?</label>
                                    <div class="container-radiobuttons mt-3">
                                        <label for="opt1" class="radio ml-0 mr-2">
                      <input type="radio" name="is_active" [(ngModel)]="usuario.is_active" [value]="true" id="opt1"
                        class="hidden" />
                      <span class="label"></span>
                      <span class="tip_fuen_helvetica_l">Activarlo</span>
                    </label>
                                        <label for="opt2" class="radio ml-0">
                      <input type="radio" name="is_active" [(ngModel)]="usuario.is_active" [value]="false" id="opt2"
                        class="hidden" />
                      <span class="label"></span>
                      <span class="tip_fuen_helvetica_l">Desactivarlo</span>
                    </label>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-row justify-content-center align-items-center align-self-center p-0">
                                <button class="button-save-custom set_cursor mr-1" type="submit">
                  <div
                    class="d-flex flex-row justify-content-center align-items-center align-self-center set-margin-top">
                    <span class="tip_fuen_helvetica_l letter">Guardar</span>
                    <span class="tip_fuen_helvetica_l letter">Guardar</span>
                  </div>
                </button>
                                <button class="button-cancel-custom set_cursor ml-1" data-dismiss="modal">
                  <div
                    class="d-flex flex-row justify-content-center align-items-center align-self-center set-margin-top">
                    <span class="tip_fuen_helvetica_l letter">Cancelar</span>
                    <span class="tip_fuen_helvetica_l letter">Cancelar</span>
                  </div>
                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal animated fadeIn fast" id="modalChangePassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title tip_fuen_helvetica_l txt_sm pl-3">Cambiar Contraseña</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body pb-1">
                <div class="row">
                    <div class="col-12 mb-3">
                        <form class="form-custom-crud" autocomplete="nope" #f2="ngForm" ngNativeValidate (ngSubmit)="cambiarPassword(f2)">
                            <div class="form-group inner-addon left-addon">
                                <input type="password" class="form-control" [ngModel]='password1' name="password1" id="password1" required data-validation-required-message="Please enter your name.">
                                <span class="fa fa-lock"></span>
                                <span class="form-bar"></span>
                                <label class="float-label m-0" for="name"><span class="tip_fuen_helvetica_r letter">Digite una nueva
                    Contraseña</span></label>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group inner-addon left-addon mt-4">
                                <input type="password" class="form-control" [ngModel]='password2' name="password2" id="password2" required data-validation-required-message="Please enter your name.">
                                <span class="fa fa-lock"></span>
                                <span class="form-bar"></span>
                                <label class="float-label m-0" for="name"><span class="tip_fuen_helvetica_r letter">Repita su
                    contraseña</span></label>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="d-flex flex-row justify-content-center align-items-center align-self-center p-0 mt-4">
                                <button class="button-save-custom set_cursor mr-1" type="submit">
                  <div
                    class="d-flex flex-row justify-content-center align-items-center align-self-center set-margin-top">
                    <span class="tip_fuen_helvetica_l letter">Guardar</span>
                    <span class="tip_fuen_helvetica_l letter">Guardar</span>
                  </div>
                </button>
                                <button class="button-cancel-custom set_cursor ml-1" data-dismiss="modal">
                  <div
                    class="d-flex flex-row justify-content-center align-items-center align-self-center set-margin-top">
                    <span class="tip_fuen_helvetica_l letter">Cancelar</span>
                    <span class="tip_fuen_helvetica_l letter">Cancelar</span>
                  </div>
                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>