@import "../../../styles.css";

.jsmaps-wrapper {
  position: relative;
  margin: 0 auto;
  /* console */
}

.jsmaps-wrapper .jsmaps-preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 16px 14px;
}

.jsmaps-wrapper .jsmaps {
  position: absolute;
}

.jsmaps-wrapper .jsmaps-text {
  float: left;
  overflow: auto;
  padding: 10px 20px;
  clear: both;
}

.jsmaps-wrapper .jsmaps-tooltip {
  position: fixed;
  display: none;
  padding: 10px 15px;
  background: #f2f2f2;
  color: #212121;
  font-family: 'Helvetica-Light', Arial, sans-serif;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 1;
  border-radius: 4px;
  pointer-events: none;
  /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
  /* useful if you don't want a bg color from leaking outside the border: */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.jsmaps-wrapper .jsmaps-mouse-position,
.jsmaps-wrapper .jsmaps-viewbox-data {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  color: #fff;
  font-size: 14px;
  padding: 10px;
}

.jsmaps-wrapper .jsmaps-viewbox-data {
  left: auto;
  right: 0;
}

.jsmaps-wrapper .jsmaps-console {
  float: left;
  clear: both;
  display: none;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 2;
}

.jsmaps-wrapper .jsmaps-console ul {
  padding: 0;
  margin: 0;
}

.jsmaps-wrapper .jsmaps-console ul li {
  list-style-type: none;
  float: left;
  cursor: pointer;
}

.jsmaps-wrapper .jsmaps-console ul li button {
  background: none;
  border: 0;
  position: relative;
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  margin-right: 1px;
  cursor: pointer;
  opacity: 0.9;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.jsmaps-wrapper .jsmaps-console ul li button:hover {
  opacity: 1;
}