<div class="container-fluid m-0 p-0 h-100 min-vh-100 overflow-x-hidden wow fadeIn" data-wow-duration="0.9s">
    <div class="row m-0 p-0">
        <div class="col-12 pl-0 pl-sm-0 pr-sm-0 pl-md-3 pr-md-0 pl-lg-3 pr-lg-0 pl-xl-3 pr-xl-0">
            <app-header></app-header>
        </div>
        <div class="col-12">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="d-flex flex-row align-items-center align-self-center footer position-relative footer-inner-page">
        <div class="container-fluid mr-0 p-0 p-sm-0">
          <div class="d-flex flex-column flex-sm-row justify-content-end justify-content-sm-center justify-content-lg-center align-items-center align-self-center">
            <a class="set_cursor"><span class="tip_fuen_helvetica_l txt_xs_mini txt_color_gris_oscuro mb-0 mr-0 mr-sm-4 links-footer">PLATAFORMA DE ANALÍTICA EN SALUD</span></a>
            <a href="http://bios.co/" target="_blank" class="set_cursor"><span class="tip_fuen_helvetica_l txt_xs_mini txt_color_gris_oscuro mb-0 mr-0 mr-sm-4 links-footer">&copy; 2020 BIOS.CO</span></a>
          </div>
        </div>
    </div>
</div>