<div class="row pl-3 pr-3 pb-2 pl-sm-3 pr-sm-3 pb-sm-2 pl-md-5 pr-md-5 pb-md-2 pl-lg-5 pr-lg-5 pb-lg-2 pl-xl-5 pr-xl-5 pb-xl-3">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex flex-row justify-content-start align-items-center align-self-center container-filters">
        <div class="swiper-container">
            <div class="swiper-wrapper d-flex flex-row align-items-center align-self-center" id="filterSelected">
                <div class="swiper-slide d-flex justify-content-between align-items-center pl-3 pr-3 pt-1 pb-1 set_cursor" [hidden]="aFiltrosSeleccionados.length==0" *ngFor="let filtro of aFiltrosSeleccionados">
                    <span class="txt_color_blanco tip_fuen_helvetica_r letter pr-3">{{filtro.dropdownValue}}</span>
                    <i class="close fa fa-times pt-1 pb-1" (click)="fn_removeFilter(filtro.dropdownName)"></i>
                </div>
                <p *ngIf="aFiltrosSeleccionados.length==0" class="pb-0 mb-0 tip_fuen_helvetica_l txt_xs m-auto" id="info-select-filter">No has seleccionado ningun filtro</p>
            </div>
        </div>
    </div>
</div>
<div class="row pl-3 pr-3 pt-2 pl-sm-3 pr-sm-3 pt-sm-2 pl-md-5 pr-md-5 pt-md-2 pl-lg-5 pr-lg-5 pt-lg-2 pl-xl-5 pr-xl-5 pt-xl-1 d-flex flex-row flex-wrap justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-start align-items-center align-self-center">
    <div class="pl-0 pl-sm-0 pl-md-0 pl-lg-0 pl-xl-0 filters-dashboard">
        <div class="form-group inner-addon left-addon mt-2 mb-2 mt-sm-2 mb-sm-2 mt-md-2 mb-md-2 mt-lg-2 mb-lg-2 mt-xl-0 mb-xl-0">
            <select class="form-control classic" (input)="fn_setFilter('enfermedad',$event.target.value)" id="selectEnfermedad" name='enfermedad' [(ngModel)]="enfermedad_seleccionada" required>
        <option class="" hidden></option>
        <ng-container *ngFor="let item of enfermedades">
          <div *ngIf="item == enfermedad_seleccionada; then block1 else block2"></div>
          <ng-template #block1>
            <option class="custom-option" selected>{{ item }}</option>
          </ng-template>
          <ng-template #block2>
            <option class="custom-option">{{ item }}</option>
          </ng-template>
        </ng-container>
      </select>
            <i class="fa icon-enfermedad"></i>
            <span class="form-bar"></span>
            <label class="float-label m-0" for="name"><span class="tip_fuen_helvetica_r letter">Enfermedad</span></label>
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <div class="pl-0 pl-sm-0 pl-md-0 pl-lg-0 pl-xl-0 filters-dashboard">
        <div class="form-group inner-addon left-addon mt-2 mb-2 mt-sm-2 mb-sm-2 mt-md-2 mb-md-2 mt-lg-2 mb-lg-2 mt-xl-0 mb-xl-0">
            <select class="form-control classic" (input)="fn_setFilter('entidad',$event.target.value)" id="selectDtsc" name='entidad' [(ngModel)]="entidad_seleccionada" required>
        <option class="" hidden></option>
        <ng-container *ngFor="let item of entidades">
          <div *ngIf="item == entidad_seleccionada; then block1 else block2"></div>
          <ng-template #block1>
            <option class="custom-option" selected>{{ item }}</option>
          </ng-template>
          <ng-template #block2>
            <option class="custom-option">{{ item }}</option>
          </ng-template>
        </ng-container>
      </select>
            <i class="fa icon-entidad"></i>
            <span class="form-bar"></span>
            <label class="float-label m-0" for="name"><span class="tip_fuen_helvetica_r letter">Entidad</span></label>
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <div class="pl-0 pl-sm-0 pl-md-0 pl-lg-0 pl-xl-0 filters-dashboard">
        <div class="form-group inner-addon left-addon mt-2 mb-2 mt-sm-2 mb-sm-2 mt-md-2 mb-md-2 mt-lg-2 mb-lg-2 mt-xl-0 mb-xl-0">
            <select class="form-control classic" id="selectDepartamento" [(ngModel)]="departamento_seleccionado" (input)="fn_setFilter('departamento',$event.target.value)" required>
        <option class="" hidden></option>
        <ng-container *ngFor="let item of departamentos">
          <div *ngIf="item == departamento_seleccionado; then block1 else block2"></div>
          <ng-template #block1>
            <option class="custom-option" selected>{{ item }}</option>
          </ng-template>
          <ng-template #block2>
            <option class="custom-option">{{ item }}</option>
          </ng-template>
        </ng-container>
      </select>
            <i class="fa icon-colombia"></i>
            <span class="form-bar"></span>
            <label class="float-label m-0" for="name"><span class="tip_fuen_helvetica_r letter">Departamento</span></label>
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <div class="pl-0 pl-sm-0 pl-md-0 pl-lg-0 pl-xl-0 filters-dashboard">
        <div class="form-group inner-addon left-addon mt-2 mb-2 mt-sm-2 mb-sm-2 mt-md-2 mb-md-2 mt-lg-2 mb-lg-2 mt-xl-0 mb-xl-0">
            <select class="form-control classic" id="selectEdad" [(ngModel)]="dropdownFilter4" (change)="fn_setFilter('edad',$event.target.value)" required>
        <option class="" [selected]='noEdad' hidden></option>
        <option *ngFor="let item of aArray4">{{item}}</option>
      </select>
            <i class="fa icon-edad"></i>
            <span class="form-bar"></span>
            <label class="float-label m-0" for="name"><span class="tip_fuen_helvetica_r letter">Edad</span></label>
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <div class="pl-0 pl-sm-0 pl-md-0 pl-lg-0 pl-xl-0 filters-dashboard">
        <div class="form-group inner-addon left-addon mt-2 mb-2 mt-sm-2 mb-sm-2 mt-md-2 mb-md-2 mt-lg-2 mb-lg-2 mt-xl-0 mb-xl-0">
            <select class="form-control classic" id="selectGenero" [(ngModel)]="dropdownFilter5" (change)="fn_setFilter('genero',$event.target.value)" required>
        <option class="" [selected]='noGenero' hidden></option>
        <option *ngFor="let item of aArray5">{{item}}</option>
      </select>
            <i class="fa icon-genero"></i>
            <span class="form-bar"></span>
            <label class="float-label m-0" for="name"><span class="tip_fuen_helvetica_r letter">Género</span></label>
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <div class="pl-0 pl-sm-0 pl-md-0 pl-lg-0 pl-xl-0 filters-dashboard">
        <div class="form-group inner-addon left-addon mt-2 mb-2 mt-sm-2 mb-sm-2 mt-md-2 mb-md-2 mt-lg-2 mb-lg-2 mt-xl-0 mb-xl-0">
            <select class="form-control classic" id="selectDiscapacidad" [(ngModel)]="dropdownFilter6" (change)="fn_setFilter('signos',$event.target.value)" required>
        <option class="" [selected]='noSignos' hidden></option>
        <option [value]="item" *ngFor="let item of signos">{{item}}</option>
      </select>
            <i class="fa icon-signos"></i>
            <span class="form-bar"></span>
            <label class="float-label m-0" for="name"><span class="tip_fuen_helvetica_r letter">Signos</span></label>
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <div class="pl-0 pl-sm-0 pl-md-0 pl-lg-0 pl-xl-0 filters-dashboard">
        <div class="form-group inner-addon left-addon mt-2 mb-2 mt-sm-2 mb-sm-2 mt-md-2 mb-md-2 mt-lg-2 mb-lg-2 mt-xl-0 mb-xl-0">
            <select class="form-control classic" id="selectRegimen" [(ngModel)]="dropdownFilter7" (change)="fn_setFilter('regimen',$event.target.value)" required>
        <option class="" [selected]='noRegimen' hidden></option>
        <option [value]="item" *ngFor="let item of regimen">{{item}}</option>
      </select>
            <i class="fa icon-regimen"></i>
            <span class="form-bar"></span>
            <label class="float-label m-0" for="name"><span class="tip_fuen_helvetica_r letter">Régimen</span></label>
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <div class="pl-0 pl-sm-0 pl-md-0 pl-lg-0 pl-xl-0 filters-dashboard">
        <div class="form-group mt-2 mb-2 mt-sm-2 mb-sm-2 mt-md-2 mb-md-2 mt-lg-2 mb-lg-2 mt-xl-0 mb-xl-0" id="valRangeDiv" (mouseup)="mouseUp()">
            <input type="text" class="js-range-slider" name="my_range" id='valRange' />
        </div>
        <input type="text" name="valorRange" id="valRangeResult" value="" hidden>
        <br>
    </div>

</div>