<nav class="navbar navbar-expand-lg navbar-light set_back_transparent pt-3 pr-0 pl-0 pt-sm-3 pr-sm-3 pl-sm-2 pt-md-3 pr-md-5 pl-md-2 pt-lg-3 pr-lg-5 pl-lg-2 pt-xl-3 pr-xl-5 pl-xl-2">
    <a class="navbar-brand set_cursor" routerLink="/dashboard">
        <div class="animated-logo">
            <img class="logo d-inline-block align-top" src="../../../assets/logoBlack.png" alt="">
            <div class="glow-wrap">
                <i class="glow"></i>
            </div>
        </div>
    </a>
    <button class="navbar-toggler pr-0 pr-sm-0 pr-md-0 pr-lg-0 pr-xl-0" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center justify-content-md-end animated" id="navbarNavDropdown">
        <ul class="navbar-nav d-flex flex-column flex-sm-row justify-content-sm-center align-items-sm-center align-self-sm-center flex-md-row justify-content-md-center align-items-md-center align-self-md-center flex-lg-row justify-content-lg-start align-items-lg-start align-self-lg-start flex-xl-row justify-content-xl-start align-items-xl-start align-self-xl-start position-relative line_height_menu mt-0 mt-sm-0 pl-3 pl-sm-3 pl-md-3 pl-lg-3 pl-xl-3">
            <li class="nav-item pr-3">
                <a class="nav-link" routerLinkActive="active" routerLink="/dashboard"><span class="tip_fuen_helvetica_l">Dashboard</span></a>
            </li>
            <li *ngIf='mostrar_gestion_usuarios' class="nav-item pr-3">
                <a class="nav-link" routerLinkActive="active" routerLink="/userManagement"><span class="tip_fuen_helvetica_l">Gestion Usuarios</span></a>
            </li>
            <li *ngIf='mostrar_gestion_usuarios' class="nav-item pr-3">
                <a class="nav-link" routerLinkActive="active" routerLink="/userActivity"> <span class="tip_fuen_helvetica_l">Actividad</span></a>
            </li>
            <li class="nav-item">
                <!--<a class="nav-link" href="#/landing"><span class="tip_fuen_helvetica_l">Cerrar sesión</span></a>-->
                <a class="nav-link" (click)="_usuarioService.logout('')" style="cursor:pointer;"><span class="tip_fuen_helvetica_l">Cerrar sesión</span></a>
            </li>
        </ul>
    </div>
</nav>