<div id="preloader-wrapper-sabio" *ngIf="cargando">
    <div class="preloader-sabio">
        <div class="spin"></div>
        <div class="txt-loading">
            <span data-text-preloader="C" class="letters-loading">
            C
          </span>
            <span data-text-preloader="A" class="letters-loading">
            A
          </span>
            <span data-text-preloader="R" class="letters-loading">
            R
          </span>
            <span data-text-preloader="G" class="letters-loading">
            G
          </span>
            <span data-text-preloader="A" class="letters-loading">
            A
          </span>
            <span data-text-preloader="N" class="letters-loading">
            N
          </span>
            <span data-text-preloader="D" class="letters-loading">
            D
          </span>
            <span data-text-preloader="O" class="letters-loading">
            O
          </span>
        </div>
    </div>
</div>

<div id="preloader-wrapper-sabio" *ngIf="cargar">
    <div class="preloader-sabio">
        <div class="spin"></div>
        <div class="txt-loading">
            <span data-text-preloader="C" class="letters-loading">
          C
        </span>
            <span data-text-preloader="A" class="letters-loading">
          A
        </span>
            <span data-text-preloader="R" class="letters-loading">
          R
        </span>
            <span data-text-preloader="G" class="letters-loading">
          G
        </span>
            <span data-text-preloader="A" class="letters-loading">
          A
        </span>
            <span data-text-preloader="N" class="letters-loading">
          N
        </span>
            <span data-text-preloader="D" class="letters-loading">
          D
        </span>
            <span data-text-preloader="O" class="letters-loading">
          O
        </span>
        </div>
    </div>
</div>


<div *ngIf="!cargando" class="container-fluid pl-0 pr-0 pt-3 pl-sm-0 pr-sm-0 pt-sm-3 pl-md-0 pr-md-0 pt-md-3 pl-lg-4 pr-lg-4 pt-lg-3 pl-xl-5 pr-xl-5 pt-xl-4 wow fadeIn" data-wow-duration="0.9s">
    <app-filterspanel [resp]="resultados" (valoresFiltro)="getValoresFiltros($event)" [respVacia]="quitarFiltro"></app-filterspanel>
    <app-boardcards *ngIf="!cargar" [collection]="collection" [respFiltros]="copy2_resultados">
    </app-boardcards>
</div>