<div class="row pb-0 pt-3 pb-sm-0 pt-sm-3 pl-md-5 pr-md-5 pb-md-0 pt-md-3 pl-lg-5 pr-lg-5 pb-lg-0 pt-lg-3 pl-xl-5 pr-xl-5 pb-xl-0 pt-xl-3">
    <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 pl-md-0 pr-md-2 pl-lg-0 pr-lg-3 pl-xl-0 pr-xl-3">
        <div class="row">
            <div class="col-12 mb-3">
                <div class="card-container manual-flip statistics">
                    <div class="card border-0 rounded-0 shadow-card d-flex align-items-stretch">
                        <div class="front-card statistics">
                            <div id="preloader-wrapper-boardcards-sabio" *ngIf="cargando">
                                <div class="preloader-boardcards-sabio">
                                    <div class="spin-boardcards"></div>
                                    <div class="txt-loading-boardcards">
                                        <span data-text-preloader="S" class="letters-loading-boardcards">
                      S
                    </span>
                                        <span data-text-preloader="I" class="letters-loading-boardcards">
                      I
                    </span>
                                        <span data-text-preloader="N" class="letters-loading-boardcards">
                      N
                    </span>
                                        <span class="letters-loading-boardcards">
                      &nbsp;
                    </span>
                                        <span data-text-preloader="D" class="letters-loading-boardcards">
                      D
                    </span>
                                        <span data-text-preloader="A" class="letters-loading-boardcards">
                      A
                    </span>
                                        <span data-text-preloader="T" class="letters-loading-boardcards">
                      T
                    </span>
                                        <span data-text-preloader="O" class="letters-loading-boardcards">
                      O
                    </span>
                                        <span data-text-preloader="S" class="letters-loading-boardcards">
                      S
                    </span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-header pt-1 pb-1 bg_gris_claro shadow-header d-flex flex-row justify-content-between align-items-center align-self-center">
                                <div class="col pl-0 pr-0">
                                    <h1 class="txt_color_negro txt_sm tip_fuen_helvetica_r p-0 m-0">Rango de edad</h1>
                                </div>
                                <div class="col d-flex flex-row justify-content-end align-items-center align-self-center pl-0 pr-0 mr-5">
                                    <div class="d-flex flex-row justify-content-center align-items-center align-self-center">
                                        <span class="txt_color_negro txt_xs tip_fuen_helvetica_l">Total:</span>
                                        <i class="fa icon-personas ml-1 txt_color_azul"></i>
                                        <span class="txt_color_gris_oscuro txt_xs tip_fuen_helvetica_l ml-0">{{ cantidad_devueltos }}</span>
                                    </div>
                                </div>
                                <button class="btn d-flex flex-row justify-content-center align-items-center align-self-center mb-0 button-flip-card" onclick="initFlip(this)">
                  <i class="fa icon-verdatos txt_color_blanco"></i>
                </button>
                            </div>
                            <div class="card-body p-0 overflow-hidden hiddenGraphAge" id="chartRangeAge"></div>
                        </div>
                        <div class="back-card statistics">
                            <div id="preloader-wrapper-boardcards-sabio" *ngIf="cargando">
                                <div class="preloader-boardcards-sabio">
                                    <div class="spin-boardcards"></div>
                                    <div class="txt-loading-boardcards">
                                        <span data-text-preloader="S" class="letters-loading-boardcards">
                      S
                    </span>
                                        <span data-text-preloader="I" class="letters-loading-boardcards">
                      I
                    </span>
                                        <span data-text-preloader="N" class="letters-loading-boardcards">
                      N
                    </span>
                                        <span class="letters-loading-boardcards">
                      &nbsp;
                    </span>
                                        <span data-text-preloader="D" class="letters-loading-boardcards">
                      D
                    </span>
                                        <span data-text-preloader="A" class="letters-loading-boardcards">
                      A
                    </span>
                                        <span data-text-preloader="T" class="letters-loading-boardcards">
                      T
                    </span>
                                        <span data-text-preloader="O" class="letters-loading-boardcards">
                      O
                    </span>
                                        <span data-text-preloader="S" class="letters-loading-boardcards">
                      S
                    </span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-header pt-1 pb-1 bg_gris_claro shadow-header d-flex flex-row justify-content-between align-items-center align-self-center">
                                <div class="col pl-0 pr-0">
                                    <h1 class="txt_color_negro txt_sm tip_fuen_helvetica_r p-0 m-0">Rango de edad</h1>
                                </div>
                                <div class="col d-flex flex-row justify-content-end align-items-center align-self-center pl-0 pr-0 mr-5">
                                    <div class="d-flex flex-row justify-content-center align-items-center align-self-center">
                                        <span class="txt_color_negro txt_xs tip_fuen_helvetica_l">Total:</span>
                                        <i class="fa icon-personas ml-1 txt_color_azul"></i>
                                        <span class="txt_color_gris_oscuro txt_xs tip_fuen_helvetica_l ml-0">{{ cantidad_devueltos }}</span>
                                    </div>
                                </div>
                                <button class="btn d-flex flex-row justify-content-center align-items-center align-self-center mb-0 button-flip-card" onclick="initFlip(this)">
                  <i class="fa icon-graficas txt_color_blanco"></i>
                </button>
                            </div>
                            <div class="card-body d-flex flex-row justify-content-center align-items-center align-self-center pl-0 pr-0 pb-0 pt-0">
                                <div class="container-fluid d-flex flex-column justify-content-start align-items-stretch align-self-stretch flex-wrap p-0 m-0">
                                    <div class="hiddenDataTableAge h-100">
                                        <div class="row d-flex flex-row flex-wrap m-0" style="height: 33.33%">
                                            <div class="col flex-row justify-content-start align-items-center align-self-center pr-0 d-none d-sm-none d-md-block box-header">
                                                <p class="txt_color_azul txt_card_header tip_fuen_helvetica_l text-left pb-0 mb-0">Personas</p>
                                            </div>
                                            <div class="col d-flex flex-row justify-content-center align-items-center align-self-center pl-0 pr-0 pl-sm-3 pr-sm-3 pl-md-3 pr-md-3 pl-lg-1 pr-lg-1 pl-xl-3 pr-xl-3">
                                                <i class="fa icon-jovenuno size_card_icons"></i>
                                                <p class="pb-0 mb-0 txt_color_gris_oscuro txt_card_number tip_fuen_helvetica_l">
                                                    {{ cantidad_edades_1 }}</p>
                                            </div>
                                            <div class="col d-flex flex-row justify-content-center align-items-center align-self-center pl-0 pr-0 pl-sm-3 pr-sm-3 pl-md-3 pr-md-3 pl-lg-1 pr-lg-1 pl-xl-3 pr-xl-3">
                                                <i class="fa icon-jovendos size_card_icons"></i>
                                                <p class="pb-0 mb-0 txt_color_gris_oscuro txt_card_number tip_fuen_helvetica_l">
                                                    {{ cantidad_edades_2 }}</p>
                                            </div>
                                            <div class="col d-flex flex-row justify-content-center align-items-center align-self-center pl-0 pr-0 pl-sm-3 pr-sm-3 pl-md-3 pr-md-3 pl-lg-1 pr-lg-1 pl-xl-3 pr-xl-3">
                                                <i class="fa icon-adultouno size_card_icons"></i>
                                                <p class="pb-0 mb-0 txt_color_gris_oscuro txt_card_number tip_fuen_helvetica_l">
                                                    {{ cantidad_edades_3 }}</p>
                                            </div>
                                            <div class="col d-flex flex-row justify-content-center align-items-center align-self-center pl-0 pr-0 pl-sm-3 pr-sm-3 pl-md-3 pr-md-3 pl-lg-1 pr-lg-1 pl-xl-3 pr-xl-3">
                                                <i class="fa icon-adultodos size_card_icons"></i>
                                                <p class="pb-0 mb-0 txt_color_gris_oscuro txt_card_number tip_fuen_helvetica_l">
                                                    {{ cantidad_edades_4 }}</p>
                                            </div>
                                        </div>
                                        <div class="row d-flex flex-row flex-wrap m-0" style="height: 33.33%">
                                            <div class="col flex-row justify-content-start align-items-center align-self-center pr-0 d-none d-sm-none d-md-block box-header">
                                                <p class="txt_color_azul txt_card_header tip_fuen_helvetica_l text-left pb-0 mb-0">Porcentaje
                                                </p>
                                            </div>
                                            <div class="col d-flex flex-row justify-content-center align-items-center align-self-center pl-0 pr-0 pl-sm-3 pr-sm-3 pl-md-3 pr-md-3 pl-lg-1 pr-lg-1 pl-xl-3 pr-xl-3">
                                                <span class="txt_color_azul txt_card_percentage tip_fuen_helvetica_r pr-1">%</span><span class="odometer odometer_one txt_color_gris_oscuro txt_card_percentage tip_fuen_helvetica_r">0</span>
                                            </div>
                                            <div class="col d-flex flex-row justify-content-center align-items-center align-self-center pl-0 pr-0 pl-sm-3 pr-sm-3 pl-md-3 pr-md-3 pl-lg-1 pr-lg-1 pl-xl-3 pr-xl-3">
                                                <span class="txt_color_azul txt_card_percentage tip_fuen_helvetica_r pr-1">%</span><span class="odometer odometer_two txt_color_gris_oscuro txt_card_percentage tip_fuen_helvetica_r">0</span>
                                            </div>
                                            <div class="col d-flex flex-row justify-content-center align-items-center align-self-center pl-0 pr-0 pl-sm-3 pr-sm-3 pl-md-3 pr-md-3 pl-lg-1 pr-lg-1 pl-xl-3 pr-xl-3">
                                                <span class="txt_color_azul txt_card_percentage tip_fuen_helvetica_r pr-1">%</span><span class="odometer odometer_three txt_color_gris_oscuro txt_card_percentage tip_fuen_helvetica_r">0</span>
                                            </div>
                                            <div class="col d-flex flex-row justify-content-center align-items-center align-self-center pl-0 pr-0 pl-sm-3 pr-sm-3 pl-md-3 pr-md-3 pl-lg-1 pr-lg-1 pl-xl-3 pr-xl-3">
                                                <span class="txt_color_azul txt_card_percentage tip_fuen_helvetica_r pr-1">%</span><span class="odometer odometer_four txt_color_gris_oscuro txt_card_percentage tip_fuen_helvetica_r">0</span>
                                            </div>
                                        </div>
                                        <div class="row d-flex flex-row flex-wrap m-0 bg_gris_claro" style="height: 33.33%">
                                            <div class="col flex-row justify-content-start align-items-center align-self-center pr-0 d-none d-sm-none d-md-block box-header">
                                                <p class="txt_color_azul txt_card_header tip_fuen_helvetica_l text-left pb-0 mb-0">Años</p>
                                            </div>
                                            <div class="col d-flex flex-row justify-content-center align-items-center align-self-center pl-0 pr-0 pl-sm-3 pr-sm-3 pl-md-3 pr-md-3 pl-lg-1 pr-lg-1 pl-xl-3 pr-xl-3">
                                                <p class="txt_color_gris_oscuro txt_card_number tip_fuen_helvetica_l pb-0 mb-0">0 - 16</p>
                                            </div>
                                            <div class="col d-flex flex-row justify-content-center align-items-center align-self-center pl-0 pr-0 pl-sm-3 pr-sm-3 pl-md-3 pr-md-3 pl-lg-1 pr-lg-1 pl-xl-3 pr-xl-3">
                                                <p class="txt_color_gris_oscuro txt_card_number tip_fuen_helvetica_l pb-0 mb-0">17 - 25</p>
                                            </div>
                                            <div class="col d-flex flex-row justify-content-center align-items-center align-self-center pl-0 pr-0 pl-sm-3 pr-sm-3 pl-md-3 pr-md-3 pl-lg-1 pr-lg-1 pl-xl-3 pr-xl-3">
                                                <p class="txt_color_gris_oscuro txt_card_number tip_fuen_helvetica_l pb-0 mb-0">26 - 56</p>
                                            </div>
                                            <div class="col d-flex flex-row justify-content-center align-items-center align-self-center pl-0 pr-0 pl-sm-3 pr-sm-3 pl-md-3 pr-md-3 pl-lg-1 pr-lg-1 pl-xl-3 pr-xl-3">
                                                <p class="txt_color_gris_oscuro txt_card_number tip_fuen_helvetica_l pb-0 mb-0">57 - 90</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-3">
                <div class="card-container manual-flip statistics">
                    <div class="card border-0 rounded-0 shadow-card">
                        <div class="front-card statistics">
                            <div id="preloader-wrapper-boardcards-sabio" *ngIf="cargando">
                                <div class="preloader-boardcards-sabio">
                                    <div class="spin-boardcards"></div>
                                    <div class="txt-loading-boardcards">
                                        <span data-text-preloader="S" class="letters-loading-boardcards">
                      S
                    </span>
                                        <span data-text-preloader="I" class="letters-loading-boardcards">
                      I
                    </span>
                                        <span data-text-preloader="N" class="letters-loading-boardcards">
                      N
                    </span>
                                        <span class="letters-loading-boardcards">
                      &nbsp;
                    </span>
                                        <span data-text-preloader="D" class="letters-loading-boardcards">
                      D
                    </span>
                                        <span data-text-preloader="A" class="letters-loading-boardcards">
                      A
                    </span>
                                        <span data-text-preloader="T" class="letters-loading-boardcards">
                      T
                    </span>
                                        <span data-text-preloader="O" class="letters-loading-boardcards">
                      O
                    </span>
                                        <span data-text-preloader="S" class="letters-loading-boardcards">
                      S
                    </span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-header pt-1 pb-1 bg_gris_claro shadow-header d-flex flex-row justify-content-between align-items-center align-self-center">
                                <div class="col pl-0 pr-0">
                                    <h1 class="txt_color_negro txt_sm tip_fuen_helvetica_r p-0 m-0">Género</h1>
                                </div>
                                <div class="col d-flex flex-row justify-content-end align-items-center align-self-center pl-0 pr-0 mr-5">
                                    <div class="d-flex flex-row justify-content-center align-items-center align-self-center">
                                        <span class="txt_color_negro txt_xs tip_fuen_helvetica_l">Total:</span>
                                        <i class="fa icon-personas ml-1 txt_color_azul"></i>
                                        <span class="txt_color_gris_oscuro txt_xs tip_fuen_helvetica_l ml-0">{{ cantidad_devueltos }}</span>
                                    </div>
                                </div>
                                <button class="btn d-flex flex-row justify-content-center align-items-center align-self-center mb-0 button-flip-card" onclick="initFlip(this)">
                  <i class="fa icon-verdatos txt_color_blanco"></i>
                </button>
                            </div>
                            <div class="card-body d-flex flex-row justify-content-center align-items-center align-self-center">
                                <div class="hiddenGraphGender">
                                    <div class="d-flex flex-row justify-content-center align-items-center align-self-center container-graph-gender">
                                        <div class="d-flex flex-row justify-content-center align-items-center align-self-center mr-3 container-gender-female hvr-float-shadow" [ngStyle]="{'width.%': percentageFemale}">
                                            <div class="circle-female"></div>
                                            <div class="d-flex flex-column justify-content-center align-items-center align-self-center position-absolute toltip-graph-gender-female p-5">
                                                <i class="fa fa icon-mujer"></i>
                                                <p class="d-flex flex-row justify-content-center align-items-center align-self-center mb-0 pb-0 txt_color_blanco txt_sm tip_fuen_helvetica_r">
                                                    <span class="odometer odometer_seven txt_color_blanco txt_sm tip_fuen_helvetica_r">0</span>
                                                    <span class="txt_color_blanco tip_fuen_helvetica_r">%</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-row justify-content-center align-items-center align-self-center container-gender-male hvr-float-shadow" [ngStyle]="{'width.%': percentageMale}">
                                            <div class="circle-male"></div>
                                            <div class="d-flex flex-column justify-content-center align-items-center align-self-center position-absolute toltip-graph-gender-male p-5">
                                                <i class="fa icon-hombre"></i>
                                                <p class="d-flex flex-row justify-content-center align-items-center align-self-center mb-0 pb-0 txt_color_blanco txt_sm tip_fuen_helvetica_r">
                                                    <span class="odometer odometer_eight txt_color_blanco txt_sm tip_fuen_helvetica_r">0</span>
                                                    <span class="txt_color_blanco tip_fuen_helvetica_r">%</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="back-card statistics">
                            <div id="preloader-wrapper-boardcards-sabio" *ngIf="cargando">
                                <div class="preloader-boardcards-sabio">
                                    <div class="spin-boardcards"></div>
                                    <div class="txt-loading-boardcards">
                                        <span data-text-preloader="S" class="letters-loading-boardcards">
                      S
                    </span>
                                        <span data-text-preloader="I" class="letters-loading-boardcards">
                      I
                    </span>
                                        <span data-text-preloader="N" class="letters-loading-boardcards">
                      N
                    </span>
                                        <span class="letters-loading-boardcards">
                      &nbsp;
                    </span>
                                        <span data-text-preloader="D" class="letters-loading-boardcards">
                      D
                    </span>
                                        <span data-text-preloader="A" class="letters-loading-boardcards">
                      A
                    </span>
                                        <span data-text-preloader="T" class="letters-loading-boardcards">
                      T
                    </span>
                                        <span data-text-preloader="O" class="letters-loading-boardcards">
                      O
                    </span>
                                        <span data-text-preloader="S" class="letters-loading-boardcards">
                      S
                    </span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-header pt-1 pb-1 bg_gris_claro shadow-header d-flex flex-row justify-content-between align-items-center align-self-center">
                                <div class="col pl-0 pr-0">
                                    <h1 class="txt_color_negro txt_sm tip_fuen_helvetica_r p-0 m-0">Género</h1>
                                </div>
                                <div class="col d-flex flex-row justify-content-end align-items-center align-self-center pl-0 pr-0 mr-5">
                                    <div class="d-flex flex-row justify-content-center align-items-center align-self-center">
                                        <span class="txt_color_negro txt_xs tip_fuen_helvetica_l">Total:</span>
                                        <i class="fa icon-personas ml-1 txt_color_azul"></i>
                                        <span class="txt_color_gris_oscuro txt_xs tip_fuen_helvetica_l ml-0">{{ cantidad_devueltos }}</span>
                                    </div>
                                </div>
                                <button class="btn d-flex flex-row justify-content-center align-items-center align-self-center mb-0 button-flip-card" onclick="initFlip(this)">
                  <i class="fa icon-graficas txt_color_blanco"></i>
                </button>
                            </div>
                            <div class="card-body d-flex flex-row justify-content-center align-items-center align-self-center pl-0 pr-0 pb-0 pt-0">
                                <div class="container-fluid d-flex flex-column justify-content-start align-items-stretch align-self-stretch flex-wrap p-0 m-0">
                                    <div class="hiddenDataTableGender h-100">
                                        <div class="row d-flex flex-row flex-wrap m-0" style="height: 33.33%">
                                            <div class="col-2 d-flex flex-row justify-content-start align-items-center align-self-center mr-5">
                                                <p class="txt_color_azul txt_card_header tip_fuen_helvetica_l text-left pb-0 mb-0">Personas</p>
                                            </div>
                                            <div class="col d-flex flex-row justify-content-center align-items-center align-self-center">
                                                <i class="fa icon-mujer size_card_icons"></i>
                                                <p class="pb-0 mb-0 txt_color_gris_oscuro txt_card_number tip_fuen_helvetica_l">
                                                    {{ cantidad_genero_1 }}</p>
                                            </div>
                                            <div class="col d-flex flex-row justify-content-center align-items-center align-self-center">
                                                <i class="fa icon-hombre size_card_icons"></i>
                                                <p class="pb-0 mb-0 txt_color_gris_oscuro txt_card_number tip_fuen_helvetica_l">
                                                    {{ cantidad_genero_2 }}</p>
                                            </div>
                                            <div class="col-2 flex-row justify-content-start align-items-center align-self-center pl-0 pr-0">
                                            </div>
                                        </div>
                                        <div class="row d-flex flex-row flex-wrap m-0" style="height: 33.33%">
                                            <div class="col-2 d-flex flex-row justify-content-start align-items-center align-self-center mr-5">
                                                <p class="txt_color_azul txt_card_header tip_fuen_helvetica_l text-left pb-0 mb-0">Porcentaje
                                                </p>
                                            </div>
                                            <div class="col d-flex flex-row justify-content-center align-items-center align-self-center">
                                                <span class="txt_color_azul txt_card_percentage tip_fuen_helvetica_r pr-1">%</span><span class="odometer odometer_five txt_color_gris_oscuro txt_card_percentage tip_fuen_helvetica_r">0</span>
                                            </div>
                                            <div class="col d-flex flex-row justify-content-center align-items-center align-self-center">
                                                <span class="txt_color_azul txt_card_percentage tip_fuen_helvetica_r pr-1">%</span><span class="odometer odometer_six txt_color_gris_oscuro txt_card_percentage tip_fuen_helvetica_r">0</span>
                                            </div>
                                            <div class="col-2 flex-row justify-content-start align-items-center align-self-center pl-0 pr-0">
                                            </div>
                                        </div>
                                        <div class="row d-flex flex-row flex-wrap m-0 bg_gris_claro" style="height: 33.33%">
                                            <div class="col-2 d-flex flex-row justify-content-start align-items-center align-self-center mr-5">
                                                <p class="txt_color_azul txt_card_header tip_fuen_helvetica_l text-left pb-0 mb-0">Género</p>
                                            </div>
                                            <div class="col d-flex flex-row justify-content-center align-items-center align-self-center pl-0 pr-0">
                                                <p class="txt_color_gris_oscuro txt_card_number tip_fuen_helvetica_l pb-0 mb-0">Femenino</p>
                                            </div>
                                            <div class="col d-flex flex-row justify-content-center align-items-center align-self-center pl-0 pr-0">
                                                <p class="txt_color_gris_oscuro txt_card_number tip_fuen_helvetica_l pb-0 mb-0">Masculino</p>
                                            </div>
                                            <div class="col-2 flex-row justify-content-start align-items-center align-self-center pl-0 pr-0">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7 mt-0 mt-sm-0 mt-md-0 mt-lg-0 mt-xl-0 pl-md-0 pr-md-2 pl-lg-0 pr-lg-0 pl-xl-0 pr-xl-2">
        <div class="card-container manual-flip map mb-3">
            <div class="card border-0 rounded-0 shadow-card">
                <div class="front-card map">
                    <div id="preloader-wrapper-boardcards-map-sabio" *ngIf="!hayResultados">
                        <div class="preloader-boardcards-map-sabio">
                            <div class="spin-boardcards-map"></div>
                            <div class="txt-loading-boardcards-map">
                                <span data-text-preloader="S" class="letters-loading-boardcards-map">
                  S
                </span>
                                <span data-text-preloader="I" class="letters-loading-boardcards-map">
                  I
                </span>
                                <span data-text-preloader="N" class="letters-loading-boardcards-map">
                  N
                </span>
                                <span class="letters-loading-boardcards-map">
                  &nbsp;
                </span>
                                <span data-text-preloader="U" class="letters-loading-boardcards-map">
                  U
                </span>
                                <span data-text-preloader="B" class="letters-loading-boardcards-map">
                  B
                </span>
                                <span data-text-preloader="I" class="letters-loading-boardcards-map">
                  I
                </span>
                                <span data-text-preloader="C" class="letters-loading-boardcards-map">
                  C
                </span>
                                <span data-text-preloader="A" class="letters-loading-boardcards-map">
                  A
                </span>
                                <span data-text-preloader="C" class="letters-loading-boardcards-map">
                  C
                </span>
                                <span data-text-preloader="I" class="letters-loading-boardcards-map">
                  I
                </span>
                                <span data-text-preloader="Ó" class="letters-loading-boardcards-map">
                  Ó
                </span>
                                <span data-text-preloader="N" class="letters-loading-boardcards-map">
                  N
                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card-header pt-1 pb-1 bg_gris_claro shadow-header d-flex flex-row justify-content-between align-items-center align-self-center">
                        <div class="col pl-0 pr-0">
                            <h1 class="txt_color_negro txt_sm tip_fuen_helvetica_r p-0 m-0">Ubicación</h1>
                        </div>
                        <div class="col d-flex flex-row justify-content-end align-items-center align-self-center pl-0 pr-0 mr-5">
                            <div class="d-flex flex-row justify-content-center align-items-center align-self-center">
                                <span class="txt_color_negro txt_xs tip_fuen_helvetica_l">Departamentos con resultados:</span>
                                <i class="fa icon-personas ml-1 txt_color_azul"></i>
                                <span class="txt_color_gris_oscuro txt_xs tip_fuen_helvetica_l ml-0">{{ cantidadDepartamentosGrafica }}</span>
                            </div>
                        </div>
                        <button class="btn d-flex flex-row justify-content-center align-items-center align-self-center mb-0 button-flip-card" onclick="initFlip(this)">
              <i class="fa icon-graficas txt_color_blanco"></i>
            </button>
                    </div>
                    <div [hidden]="!hayResultados" class="card-body p-0 overflow-hidden" id="chartHeathMapLocationDepartment">
                    </div>
                </div>
                <div class="back-card map">
                    <div id="preloader-wrapper-boardcards-map-sabio" *ngIf="!hayResultados">
                        <div class="preloader-boardcards-map-sabio">
                            <div class="spin-boardcards-map"></div>
                            <div class="txt-loading-boardcards-map">
                                <span data-text-preloader="S" class="letters-loading-boardcards-map">
                  S
                </span>
                                <span data-text-preloader="I" class="letters-loading-boardcards-map">
                  I
                </span>
                                <span data-text-preloader="N" class="letters-loading-boardcards-map">
                  N
                </span>
                                <span class="letters-loading-boardcards-map">
                  &nbsp;
                </span>
                                <span data-text-preloader="U" class="letters-loading-boardcards-map">
                  U
                </span>
                                <span data-text-preloader="B" class="letters-loading-boardcards-map">
                  B
                </span>
                                <span data-text-preloader="I" class="letters-loading-boardcards-map">
                  I
                </span>
                                <span data-text-preloader="C" class="letters-loading-boardcards-map">
                  C
                </span>
                                <span data-text-preloader="A" class="letters-loading-boardcards-map">
                  A
                </span>
                                <span data-text-preloader="C" class="letters-loading-boardcards-map">
                  C
                </span>
                                <span data-text-preloader="I" class="letters-loading-boardcards-map">
                  I
                </span>
                                <span data-text-preloader="Ó" class="letters-loading-boardcards-map">
                  Ó
                </span>
                                <span data-text-preloader="N" class="letters-loading-boardcards-map">
                  N
                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card-header pt-1 pb-1 bg_gris_claro shadow-header d-flex flex-row justify-content-between align-items-center align-self-center">
                        <div class="col pl-0 pr-0">
                            <h1 class="txt_color_negro txt_sm tip_fuen_helvetica_r p-0 m-0">Ubicación</h1>
                        </div>
                        <div class="col d-flex flex-row justify-content-end align-items-center align-self-center pl-0 pr-0 mr-5">
                            <div class="d-flex flex-row justify-content-center align-items-center align-self-center">
                                <span class="txt_color_negro txt_xs tip_fuen_helvetica_l">Municipios con resultados:</span>
                                <i class="fa icon-personas ml-1 txt_color_azul"></i>
                                <span class="txt_color_gris_oscuro txt_xs tip_fuen_helvetica_l ml-0">{{ cantidadMunicipiosGrafica }}</span>
                            </div>
                        </div>
                        <button class="btn d-flex flex-row justify-content-center align-items-center align-self-center mb-0 button-flip-card" onclick="initFlip(this)">
              <i class="fa icon-graficas txt_color_blanco"></i>
            </button>
                    </div>
                    <div [hidden]="!hayResultados" class="card-body p-0 overflow-hidden" id="chartHeathMapLocationMunicipality">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 pl-md-0 pr-md-2 pl-lg-0 pr-lg-3 pl-xl-0 pr-xl-3">
        <div class="row">
            <div class="col-12 mb-3">
                <div class="card-container manual-flip statistics">
                    <div class="card border-0 rounded-0 shadow-card">
                        <div class="front-card statistics">
                            <div id="preloader-wrapper-boardcards-sabio" *ngIf="cargando">
                                <div class="preloader-boardcards-sabio">
                                    <div class="spin-boardcards"></div>
                                    <div class="txt-loading-boardcards">
                                        <span data-text-preloader="S" class="letters-loading-boardcards">
                      S
                    </span>
                                        <span data-text-preloader="I" class="letters-loading-boardcards">
                      I
                    </span>
                                        <span data-text-preloader="N" class="letters-loading-boardcards">
                      N
                    </span>
                                        <span class="letters-loading-boardcards">
                      &nbsp;
                    </span>
                                        <span data-text-preloader="D" class="letters-loading-boardcards">
                      D
                    </span>
                                        <span data-text-preloader="A" class="letters-loading-boardcards">
                      A
                    </span>
                                        <span data-text-preloader="T" class="letters-loading-boardcards">
                      T
                    </span>
                                        <span data-text-preloader="O" class="letters-loading-boardcards">
                      O
                    </span>
                                        <span data-text-preloader="S" class="letters-loading-boardcards">
                      S
                    </span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-header pt-1 pb-1 bg_gris_claro shadow-header d-flex flex-row justify-content-between align-items-center align-self-center">
                                <div class="col pl-0 pr-0">
                                    <h1 class="txt_color_negro txt_sm tip_fuen_helvetica_r p-0 m-0">Signos / Sintomas</h1>
                                    <p class="pb-0 mb-0 txt_color_negro txt_xs_mini tip_fuen_helvetica_l position-absolute mt-4 infoChartSignsAndSymptoms">
                                    </p>
                                </div>
                                <div class="col d-flex flex-row justify-content-end align-items-center align-self-center pl-0 pr-0 mr-5">
                                    <div class="d-flex flex-row justify-content-center align-items-center align-self-center">
                                        <span class="txt_color_negro txt_xs tip_fuen_helvetica_l">Total:</span>
                                        <i class="fa icon-personas ml-1 txt_color_azul"></i>
                                        <span class="txt_color_gris_oscuro txt_xs tip_fuen_helvetica_l ml-0">{{ signo.length }}</span>
                                    </div>
                                </div>
                                <button class="btn d-flex flex-row justify-content-center align-items-center align-self-center mb-0 button-flip-card" onclick="initFlip(this)">
                  <i class="fa icon-verdatos txt_color_blanco"></i>
                </button>
                            </div>
                            <div class="card-body p-0 overflow-hidden hiddenGraphSymptom" id="chartSymptomsSigns"></div>
                        </div>
                        <div class="back-card statistics">
                            <div id="preloader-wrapper-boardcards-sabio" *ngIf="cargando">
                                <div class="preloader-boardcards-sabio">
                                    <div class="spin-boardcards"></div>
                                    <div class="txt-loading-boardcards">
                                        <span data-text-preloader="S" class="letters-loading-boardcards">
                      S
                    </span>
                                        <span data-text-preloader="I" class="letters-loading-boardcards">
                      I
                    </span>
                                        <span data-text-preloader="N" class="letters-loading-boardcards">
                      N
                    </span>
                                        <span class="letters-loading-boardcards">
                      &nbsp;
                    </span>
                                        <span data-text-preloader="D" class="letters-loading-boardcards">
                      D
                    </span>
                                        <span data-text-preloader="A" class="letters-loading-boardcards">
                      A
                    </span>
                                        <span data-text-preloader="T" class="letters-loading-boardcards">
                      T
                    </span>
                                        <span data-text-preloader="O" class="letters-loading-boardcards">
                      O
                    </span>
                                        <span data-text-preloader="S" class="letters-loading-boardcards">
                      S
                    </span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-header pt-1 pb-1 bg_gris_claro shadow-header d-flex flex-row justify-content-between align-items-center align-self-center">
                                <div class="col pl-0 pr-0">
                                    <h1 class="txt_color_negro txt_sm tip_fuen_helvetica_r p-0 m-0">Signos / Sintomas</h1>
                                </div>
                                <div class="col d-flex flex-row justify-content-end align-items-center align-self-center pl-0 pr-0 mr-5">
                                    <div class="d-flex flex-row justify-content-center align-items-center align-self-center">
                                        <span class="txt_color_negro txt_xs tip_fuen_helvetica_l">Total:</span>
                                        <i class="fa icon-personas ml-1 txt_color_azul"></i>
                                        <span class="txt_color_gris_oscuro txt_xs tip_fuen_helvetica_l ml-0">{{ signo.length }}</span>
                                    </div>
                                </div>
                                <button class="btn d-flex flex-row justify-content-center align-items-center align-self-center mb-0 button-flip-card" onclick="initFlip(this)">
                  <i class="fa icon-graficas txt_color_blanco"></i>
                </button>
                            </div>
                            <div class="card-body d-flex flex-row justify-content-center align-items-center align-self-center pl-0 pr-0 pb-0 pt-0">
                                <div class="container-fluid d-flex flex-column justify-content-start align-items-stretch align-self-stretch flex-wrap p-0 m-0">
                                    <div class="hiddenDataTableSymptom">
                                        <div class="table-responsive h-100">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th scope="col"><span class="txt_color_negro txt_sm tip_fuen_helvetica_l">#</span></th>
                                                        <th scope="col"><span class="txt_color_negro txt_sm tip_fuen_helvetica_l">Signos</span>
                                                        </th>
                                                        <th scope="col"><span class="txt_color_negro txt_sm tip_fuen_helvetica_l">Cantidad</span>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor='let sig of signo let i = index'>
                                                        <td class="text-center" scope="row"><span class="txt_color_negro txt_xs tip_fuen_helvetica_r letter">{{ i + 1 }}</span></td>
                                                        <td class="text-center"><span class="txt_color_negro txt_xs tip_fuen_helvetica_r letter">{{ sig }}</span>
                                                        </td>
                                                        <td class="text-center"><span class="txt_color_negro txt_xs tip_fuen_helvetica_r letter">{{ cantidad_signo[i] }}</span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7 mt-0 mt-sm-0 mt-md-0 mt-lg-0 mt-xl-0 pl-md-0 pr-md-2 pl-lg-0 pr-lg-0 pl-xl-0 pr-xl-2">
        <div class="row">
            <div class="col-12 mb-3">
                <div class="card-container manual-flip statistics">
                    <div class="card border-0 rounded-0 shadow-card">
                        <div class="front-card statistics">
                            <div id="preloader-wrapper-boardcards-sabio" *ngIf="cargando">
                                <div class="preloader-boardcards-sabio">
                                    <div class="spin-boardcards"></div>
                                    <div class="txt-loading-boardcards">
                                        <span data-text-preloader="S" class="letters-loading-boardcards">
                      S
                    </span>
                                        <span data-text-preloader="I" class="letters-loading-boardcards">
                      I
                    </span>
                                        <span data-text-preloader="N" class="letters-loading-boardcards">
                      N
                    </span>
                                        <span class="letters-loading-boardcards">
                      &nbsp;
                    </span>
                                        <span data-text-preloader="D" class="letters-loading-boardcards">
                      D
                    </span>
                                        <span data-text-preloader="A" class="letters-loading-boardcards">
                      A
                    </span>
                                        <span data-text-preloader="T" class="letters-loading-boardcards">
                      T
                    </span>
                                        <span data-text-preloader="O" class="letters-loading-boardcards">
                      O
                    </span>
                                        <span data-text-preloader="S" class="letters-loading-boardcards">
                      S
                    </span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-header pt-1 pb-1 bg_gris_claro shadow-header d-flex flex-row justify-content-between align-items-center align-self-center">
                                <div class="col pl-0 pr-0">
                                    <h1 class="txt_color_negro txt_sm tip_fuen_helvetica_r p-0 m-0">Régimen</h1>
                                </div>
                                <div class="col d-flex flex-row justify-content-end align-items-center align-self-center pl-0 pr-0 mr-5">
                                    <div class="d-flex flex-row justify-content-center align-items-center align-self-center">
                                        <span class="txt_color_negro txt_xs tip_fuen_helvetica_l">Total:</span>
                                        <i class="fa icon-personas ml-1 txt_color_azul"></i>
                                        <span class="txt_color_gris_oscuro txt_xs tip_fuen_helvetica_l ml-0">{{ regimen.length }}</span>
                                    </div>
                                </div>
                                <button class="btn d-flex flex-row justify-content-center align-items-center align-self-center mb-0 button-flip-card" onclick="initFlip(this)">
                  <i class="fa icon-verdatos txt_color_blanco"></i>
                </button>
                            </div>
                            <div class="card-body d-flex flex-row justify-content-center align-items-center align-self-center p-2 hiddenGraphRegime">
                                <canvas id="regimechart"></canvas>
                            </div>
                        </div>
                        <div class="back-card statistics">
                            <div id="preloader-wrapper-boardcards-sabio" *ngIf="cargando">
                                <div class="preloader-boardcards-sabio">
                                    <div class="spin-boardcards"></div>
                                    <div class="txt-loading-boardcards">
                                        <span data-text-preloader="S" class="letters-loading-boardcards">
                      S
                    </span>
                                        <span data-text-preloader="I" class="letters-loading-boardcards">
                      I
                    </span>
                                        <span data-text-preloader="N" class="letters-loading-boardcards">
                      N
                    </span>
                                        <span class="letters-loading-boardcards">
                      &nbsp;
                    </span>
                                        <span data-text-preloader="D" class="letters-loading-boardcards">
                      D
                    </span>
                                        <span data-text-preloader="A" class="letters-loading-boardcards">
                      A
                    </span>
                                        <span data-text-preloader="T" class="letters-loading-boardcards">
                      T
                    </span>
                                        <span data-text-preloader="O" class="letters-loading-boardcards">
                      O
                    </span>
                                        <span data-text-preloader="S" class="letters-loading-boardcards">
                      S
                    </span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-header pt-1 pb-1 bg_gris_claro shadow-header d-flex flex-row justify-content-between align-items-center align-self-center">
                                <div class="col pl-0 pr-0">
                                    <h1 class="txt_color_negro txt_sm tip_fuen_helvetica_r p-0 m-0">Régimen</h1>
                                </div>
                                <div class="col d-flex flex-row justify-content-end align-items-center align-self-center pl-0 pr-0 mr-5">
                                    <div class="d-flex flex-row justify-content-center align-items-center align-self-center">
                                        <span class="txt_color_negro txt_xs tip_fuen_helvetica_l">Total:</span>
                                        <i class="fa icon-personas ml-1 txt_color_azul"></i>
                                        <span class="txt_color_gris_oscuro txt_xs tip_fuen_helvetica_l ml-0">{{ regimen.length }}</span>
                                    </div>
                                </div>
                                <button class="btn d-flex flex-row justify-content-center align-items-center align-self-center mb-0 button-flip-card" onclick="initFlip(this)">
                  <i class="fa icon-graficas txt_color_blanco"></i>
                </button>
                            </div>
                            <div class="card-body d-flex flex-row justify-content-center align-items-center align-self-center pl-0 pr-0 pb-0 pt-0">
                                <div class="container-fluid d-flex flex-column justify-content-start align-items-stretch align-self-stretch flex-wrap p-0 m-0">
                                    <div class="hiddenDataTableRegime">
                                        <div class="table-responsive h-100">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th scope="col"><span class="txt_color_negro txt_sm tip_fuen_helvetica_l">#</span></th>
                                                        <th scope="col"><span class="txt_color_negro txt_sm tip_fuen_helvetica_l">Régimen</span>
                                                        </th>
                                                        <th scope="col"><span class="txt_color_negro txt_sm tip_fuen_helvetica_l">Cantidad</span>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor='let reg of regimen let i = index'>
                                                        <td class="text-center" scope="row"><span class="txt_color_negro txt_xs tip_fuen_helvetica_r letter">{{ i + 1 }}</span></td>
                                                        <td class="text-center"><span class="txt_color_negro txt_xs tip_fuen_helvetica_r letter">{{ reg }}</span></td>
                                                        <td class="text-center"><span class="txt_color_negro txt_xs tip_fuen_helvetica_r letter">{{ cantidad_regimen[i] }}</span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf='!ocultarTablaRespuestas' class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-0 mt-sm-0 mt-md-0 mt-lg-0 mt-xl-0 pl-md-0 pr-md-2 pl-lg-0 pr-lg-0 pl-xl-0 pr-xl-2">
        <div class="row">
            <div class="col-12">
                <div class="card-container">
                    <div id="preloader-wrapper-boardcards-sabio" *ngIf="cargando">
                        <div class="preloader-boardcards-sabio">
                            <div class="spin-boardcards"></div>
                            <div class="txt-loading-boardcards">
                                <span data-text-preloader="S" class="letters-loading-boardcards">
                  S
                </span>
                                <span data-text-preloader="I" class="letters-loading-boardcards">
                  I
                </span>
                                <span data-text-preloader="N" class="letters-loading-boardcards">
                  N
                </span>
                                <span class="letters-loading-boardcards">
                  &nbsp;
                </span>
                                <span data-text-preloader="D" class="letters-loading-boardcards">
                  D
                </span>
                                <span data-text-preloader="A" class="letters-loading-boardcards">
                  A
                </span>
                                <span data-text-preloader="T" class="letters-loading-boardcards">
                  T
                </span>
                                <span data-text-preloader="O" class="letters-loading-boardcards">
                  O
                </span>
                                <span data-text-preloader="S" class="letters-loading-boardcards">
                  S
                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 rounded-0 shadow-card">
                        <div class="table-general">
                            <div class="card-header pt-1 pb-1 bg_gris_claro shadow-header">
                                <div class="row d-flex flex-row justify-content-between align-items-center align-self-center">
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                        <div class="row">
                                            <div class="col-12">
                                                <h1 class="txt_color_negro txt_sm tip_fuen_helvetica_r">Resultados / {{ enfermedad | titlecase }} - {{ entidad | uppercase }}</h1>
                                            </div>
                                            <div class="container-search">
                                                <form class="forms-custom-search" action="">
                                                    <div class="form-group inner-addon left-addon">
                                                        <input type="text" class="form-control" name="searchGeneral" [(ngModel)]="searchFilterGeneral" autocomplete="off">
                                                        <i class="fa fa-search"></i>
                                                        <span class="form-bar"></span>
                                                        <label class="float-label m-0" for="name"><span
                                class="tip_fuen_helvetica_r letter">Buscar</span></label>
                                                        <p class="help-block text-danger"></p>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl- d-flex flex-row justify-content-center align-items-center align-self-center justify-content-sm-center align-items-sm-center align-self-sm-center justify-content-md-end align-items-md-center align-self-md-center pt-2 pb-2">
                                        <div class="d-flex flex-row justify-content-center align-items-center align-self-center">
                                            <div class="d-flex flex-row justify-content-center align-items-center align-self-center rounded-circle bg_azul_blanco btn-download-file">
                                                <i class="fa icon-descargar"></i>
                                            </div>
                                            <div class="d-flex flex-column justify-content-center align-items-center align-self-center pl-1 pl-sm-2 pl-md-3">
                                                <p class="txt_color_negro txt_sm tip_fuen_helvetica_r pb-0 mb-0">Descargar datos</p>
                                                <ul class="list-group list-group-horizontal border-0">
                                                    <li class="list-group-item border-0 pt-0 pl-1 pr-1 pb-0">
                                                        <a class="set_cursor" data-toggle="modal" data-target="#modalDownloadRecords"><span
                                class="txt_color_azul txt_xs tip_fuen_helvetica_r">TXT</span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body d-flex flex-row justify-content-center align-items-center align-self-center pl-0 pr-0 pb-0 pt-0">
                                <div class="container-fluid d-flex flex-column justify-content-start align-items-stretch align-self-stretch flex-wrap p-0 m-0">
                                    <div class="table-responsive">
                                        <table id="dataGeneral" class="table table-striped nowrap mb-0" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th scope="col">
                                                        <span class="txt_color_negro txt_sm tip_fuen_helvetica_l">Id</span>
                                                    </th>
                                                    <th scope="col">
                                                        <span class="txt_color_negro txt_sm tip_fuen_helvetica_l"> Departamento / Municipio</span>
                                                    </th>
                                                    <th scope="col">
                                                        <span class="txt_color_negro txt_sm tip_fuen_helvetica_l">Genero</span>
                                                    </th>
                                                    <th scope="col">
                                                        <span class="txt_color_negro txt_sm tip_fuen_helvetica_l">Edad</span>
                                                    </th>
                                                    <th scope="col">
                                                        <span class="txt_color_negro txt_sm tip_fuen_helvetica_l">Signos / Sintomas</span>
                                                    </th>
                                                    <th scope="col">
                                                        <span class="txt_color_negro txt_sm tip_fuen_helvetica_l">Regimen</span>
                                                    </th>
                                                    <th scope="col">
                                                        <span class="txt_color_negro txt_sm tip_fuen_helvetica_l">Score</span>
                                                    </th>
                                                    <th scope="col">
                                                        <span class="txt_color_negro txt_sm tip_fuen_helvetica_l">Estado</span>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr role="row" *ngFor='let registro of resultados | filter:searchFilterGeneral | paginate: { itemsPerPage: itemsPerPage, currentPage: pageActual, id: "tablaResultados" }; let i = index'>
                                                    <td><span class="txt_color_negro txt_xs tip_fuen_helvetica_r letter">{{i}}</span></td>
                                                    <td><span class="txt_color_negro txt_xs tip_fuen_helvetica_r letter">{{ registro.ubicacion | validateUbication }}</span>
                                                    </td>
                                                    <td><span class="txt_color_negro txt_xs tip_fuen_helvetica_r letter">{{ registro.genero }}</span>
                                                    </td>
                                                    <td><span class="txt_color_negro txt_xs tip_fuen_helvetica_r letter">{{ registro.edad }}</span></td>
                                                    <td><span class="txt_color_negro txt_xs tip_fuen_helvetica_r letter">{{ registro.signos | jsonValues }}</span>
                                                    </td>
                                                    <td><span class="txt_color_negro txt_xs tip_fuen_helvetica_r letter">{{ registro.regimen }}</span>
                                                    </td>
                                                    <td>
                                                        <div class="box-score" [class.bg-state-blue]="registro.score >= 0" [class.bg-state-blue]="registro.score < 4" [class.bg-state-yellow]="registro.score >= 4" [class.bg-state-yellow]="registro.score < 10" [class.bg-state-red]="registro.score >= 10" [class.bg-state-red]="registro.score <= 18">
                                                            <span class="txt_color_blanco txt_xs tip_fuen_helvetica_l">{{ registro.score | number }}</span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex flex-row justify-content-center align-items-center align-self-center">
                                                            <button class="button-add-custom set_cursor mr-2" data-toggle="modal" data-target="#modalStateResult" (click)="estado(registro)">
                                <div
                                  class="d-flex flex-row justify-content-center align-items-center align-self-center">
                                  <span class="tip_fuen_helvetica_l"><i class="fa icon-resultados"></i></span><span
                                    class="tip_fuen_helvetica_l"><i class="fa icon-resultados"></i></span></div>
                              </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="d-flex flex-row justify-content-center align-items-center align-self-center mt-3">
                                        <form autocomplete="off">
                                            <div class="form-group inner-addon left-addon">
                                                <select class="form-control filterPageTable" (change)="cantitieRegister($event.target.value)" id="selectCantitieRegister">
                          <option class="custom-option">5</option>
                          <option class="custom-option" selected>10</option>
                          <option class="custom-option">25</option>
                          <option class="custom-option">50</option>
                        </select>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="d-flex flex-row justify-content-center align-items-center align-self-center mt-0">
                                        <p class="txt_color_negro txt_xs tip_fuen_helvetica_l text-center mb-2">Existen un total de
                                            <span>{{ cantidad_devueltos }}</span> registros</p>
                                    </div>
                                    <div class="d-flex flex-row justify-content-center align-items-center align-self-center">
                                        <pagination-controls autoHide="true" responsive="true" previousLabel="Anterior" nextLabel="Siguiente" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page" (pageChange)="pageActual = $event" id="tablaResultados">
                                        </pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal animated fadeIn fast" id="modalDownloadRecords" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title tip_fuen_helvetica_l txt_sm pl-3">Descarga de registros</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body pb-1">
                <div class="row">
                    <div class="col-12 mb-3">
                        <p class="tip_fuen_helvetica_l txt_sm txt_color_negro p-0 m-0 text-center">Numero de registros que desea descargar
                        </p>
                        <form class="form-custom-crud" autocomplete="nope" #f="ngForm" (ngSubmit)="descargarArchivos(f)" ngNativeValidate>
                            <div class="form-group inner-addon left-addon mt-4">
                                <input type="number" class="form-control" id="name" [ngModel]="cantidad_resultados_descarga" name='numRegistros' required data-validation-required-message="Por favor ingresa el numero de registros a descargar" min="1" [max]=cantidad_devueltos>
                                <span class=" fa icon-credenciales "></span>
                                <span class="form-bar "></span>
                                <label class="float-label m-0 " for="name "><span class="tip_fuen_helvetica_r letter ">N.
                    Registros</span></label>
                                <p class="help-block text-danger "></p>
                            </div>
                            <div class="d-flex flex-row justify-content-center align-items-center align-self-center p-0 mt-4 ">
                                <button class="button-save-custom set_cursor mr-1" type="submit">
                  <div
                    class="d-flex flex-row justify-content-center align-items-center align-self-center set-margin-top ">
                    <span class="tip_fuen_helvetica_l letter ">Descargar</span>
                    <span class="tip_fuen_helvetica_l letter ">Descargar</span>
                  </div>
                </button>
                                <button class="button-cancel-custom set_cursor ml-1" data-dismiss="modal">
                  <div
                    class="d-flex flex-row justify-content-center align-items-center align-self-center set-margin-top ">
                    <span class="tip_fuen_helvetica_l letter ">Cancelar</span>
                    <span class="tip_fuen_helvetica_l letter ">Cancelar</span>
                  </div>
                </button>
                            </div>
                            <p class="text-center pt-3 pb-0 mb-0 ">
                                <a class="set_cursor d-flex flex-row justify-content-center align-items-center align-self-center toltip-seguridad-datos " data-tipso="Presiona este enlace para descargar la totalidad de los registros " (click)="exportExcel('todos')"><span class="tip_fuen_helvetica_l txt_xs txt_color_negro p-0 m-0 ">Descargar
                    todos</span><i class="fa icon-seguridaddatos p-2 "></i></a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal animated fadeIn fast" id="modalStateResult" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title tip_fuen_helvetica_l txt_sm pl-3">Resultado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body pb-1">
                <div class="row">
                    <div class="col-12 mb-3">
                        <p class="tip_fuen_helvetica_l txt_sm txt_color_negro p-0 m-0 text-center">Estado actual: <span class="tip_fuen_helvetica_l txt_sm txt_color_azul">{{ estadoPaciente }}</span></p>
                        <form *ngIf='!ocultarSelect' #f="ngForm" (ngSubmit)="cambioEstado(f)" class="form-custom-crud" ngNativeValidate autocomplete="nope">
                            <div class="form-group inner-addon left-addon mt-4">
                                <select class="form-control classic" id="selectestado" name="selectestado" [ngModel]="estadoPaciente" required>
                  <option class="" hidden></option>
                  <option class="custom-option">Nulo</option>
                  <option class="custom-option">En proceso</option>
                  <option class="custom-option">Interrumpido</option>
                  <option class="custom-option">Negativo</option>
                  <option class="custom-option">Positivo</option>
                </select>
                                <i class="fa icon-rol"></i>
                                <span class="form-bar"></span>
                                <label class="float-label m-0" for="name">
                  <span class="tip_fuen_helvetica_r letter">Estado</span>
                </label>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="d-flex flex-row justify-content-center align-items-center align-self-center p-0 mt-4">
                                <button class="button-save-custom set_cursor mr-1" type="submit">
                  <div
                    class="d-flex flex-row justify-content-center align-items-center align-self-center set-margin-top">
                    <span class="tip_fuen_helvetica_l letter">Guardar</span>
                    <span class="tip_fuen_helvetica_l letter">Guardar</span>
                  </div>
                </button>
                                <button class="button-cancel-custom set_cursor ml-1" data-dismiss="modal">
                  <div
                    class="d-flex flex-row justify-content-center align-items-center align-self-center set-margin-top">
                    <span class="tip_fuen_helvetica_l letter">Cancelar</span>
                    <span class="tip_fuen_helvetica_l letter">Cancelar</span>
                  </div>
                </button>
                            </div>
                            <p class="text-center pt-3 pb-0 mb-0">
                                <a class="d-flex flex-row justify-content-center align-items-center align-self-center">
                                    <span class="tip_fuen_helvetica_l txt_xs txt_color_negro p-0 m-0">Actualizado el : <span
                      class="tip_fuen_helvetica_l txt_xs txt_color_azul"></span>{{ fechaEstadoActualizado }}</span><i class="fa icon-calendarioresultados p-2"></i>
                                </a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>