<div class="container-fluid pl-0 pr-0 pt-3 pl-sm-0 pr-sm-0 pt-sm-3 pl-md-0 pr-md-0 pt-md-3 pl-lg-4 pr-lg-4 pt-lg-3 pl-xl-5 pr-xl-5 pt-xl-4 wow fadeIn" data-wow-duration="0.9s">
    <div class="row pb-1 pt-0 pb-sm-1 pt-sm-0 pl-md-5 pr-md-5 pb-md-1 pt-md-0 pl-lg-5 pr-lg-5 pb-lg-1 pt-lg-0 pl-xl-5 pr-xl-5 pb-xl-1 pt-xl-0">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-0 mt-sm-0 mt-md-0 mt-lg-0 mt-xl-0 pl-md-0 pr-md-3 pl-lg-0 pr-lg-3 pl-xl-0 pr-xl-3">
            <h3 class="txt_color_negro tip_fuen_helvetica_r mb-3"><span>Visión general de actividades</span></h3>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 mt-0 mt-sm-0 mt-md-0 mt-lg-0 mt-xl-0 pl-md-0 pr-md-3 pl-lg-0 pr-lg-3 pl-xl-0 pr-xl-3">
            <div class="row">
                <div class="col-12 mb-3">
                    <div class="card-container card-useractivity-small">
                        <div class="card border-0 rounded-0 shadow-card">
                            <div class="card-body pl-3 pr-4 pt-2 pb-2 card-useractivity-small">
                                <div class="row position-absolute pl-2 pr-1 pt-2">
                                    <div class="col d-flex flex-row justify-content-center align-items-center align-self-center">
                                        <div class="d-flex flex-row justify-content-center align-items-center align-self-center box-icon-card-activity background-box-icon-one">
                                            <i class="fa icon-graficolineados p-2"></i>
                                        </div>
                                        <div class="d-flex flex-column pl-2 pt-0 pl-sm-2 pt-sm-2">
                                            <p class="odometer resultActivityOne txt_color_gris_oscuro txt_card_percentage tip_fuen_helvetica_r mb-0 text-left">
                                                100</p>
                                            <p class="txt_color_gris_oscuro txt_xs_label tip_fuen_helvetica_r mb-0 text-left">Numero de usuarios activos el Último mes
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <canvas id="ChartActivityCardOne"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 mt-0 mt-sm-0 mt-md-0 mt-lg-0 mt-xl-0 pl-md-0 pr-md-3 pl-lg-0 pr-lg-3 pl-xl-0 pr-xl-3">
            <div class="row">
                <div class="col-12 mb-3">
                    <div class="card-container card-useractivity-small">
                        <div class="card border-0 rounded-0 shadow-card">
                            <div class="card-body pl-3 pr-4 pt-2 pb-2 card-useractivity-small">
                                <div class="row position-absolute pl-2 pr-1 pt-2">
                                    <div class="col d-flex flex-row justify-content-center align-items-center align-self-center">
                                        <div class="d-flex flex-row justify-content-center align-items-center align-self-center box-icon-card-activity background-box-icon-two">
                                            <i class="fa icon-graficolineados p-2"></i>
                                        </div>
                                        <div class="d-flex flex-column pl-2 pt-2">
                                            <p class="odometer resultActivityTwo txt_color_gris_oscuro txt_card_percentage tip_fuen_helvetica_r mb-0 text-left">
                                                100</p>
                                            <p class="txt_color_gris_oscuro txt_xs_label tip_fuen_helvetica_r mb-0 text-left">Numero de usuarios activos la Última semana
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <canvas id="ChartActivityCardTwo"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 mt-0 mt-sm-0 mt-md-0 mt-lg-0 mt-xl-0 pl-md-0 pr-md-3 pl-lg-0 pr-lg-3 pl-xl-0 pr-xl-3">
            <div class="row">
                <div class="col-12 mb-3">
                    <div class="card-container card-useractivity-small">
                        <div class="card border-0 rounded-0 shadow-card">
                            <div class="card-body pl-3 pr-4 pt-2 pb-2 card-useractivity-small">
                                <div class="row position-absolute pl-2 pr-1 pt-2">
                                    <div class="col d-flex flex-row justify-content-center align-items-center align-self-center">
                                        <div class="d-flex flex-row justify-content-center align-items-center align-self-center box-icon-card-activity background-box-icon-three">
                                            <i class="fa icon-graficolineados p-2"></i>
                                        </div>
                                        <div class="d-flex flex-column pl-2 pt-2">
                                            <p class="odometer resultActivityThree txt_color_gris_oscuro txt_card_percentage tip_fuen_helvetica_r mb-0 text-left">
                                                100</p>
                                            <p class="txt_color_gris_oscuro txt_xs_label tip_fuen_helvetica_r mb-0 text-left">Numero de usuarios creados el Último mes
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <canvas id="ChartActivityCardThree"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 mt-0 mt-sm-0 mt-md-0 mt-lg-0 mt-xl-0 pl-md-0 pr-md-3 pl-lg-0 pr-lg-3 pl-xl-0 pr-xl-3">
            <div class="row">
                <div class="col-12 mb-3">
                    <div class="card-container card-useractivity-small">
                        <div class="card border-0 rounded-0 shadow-card">
                            <div class="card-body pl-3 pr-4 pt-2 pb-2 card-useractivity-small">
                                <div class="row position-absolute pl-2 pr-1 pt-2">
                                    <div class="col d-flex flex-row justify-content-center align-items-center align-self-center">
                                        <div class="d-flex flex-row justify-content-center align-items-center align-self-center box-icon-card-activity background-box-icon-four">
                                            <i class="fa icon-graficolineados p-2"></i>
                                        </div>
                                        <div class="d-flex flex-column pl-2 pt-2">
                                            <p class="odometer resultActivityFour txt_color_gris_oscuro txt_card_percentage tip_fuen_helvetica_r mb-0 text-left">
                                                100</p>
                                            <p class="txt_color_gris_oscuro txt_xs_label tip_fuen_helvetica_r mb-0 text-left">Numero de usuarios creados la Última semana
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <canvas id="ChartActivityCardFour"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-0 mt-sm-0 mt-md-0 mt-lg-0 mt-xl-0 pl-md-0 pr-md-3 pl-lg-0 pr-lg-3 pl-xl-0 pr-xl-3 card-useractivity-large mb-5">
            <div class="row">
                <div class="col-12">
                    <div class="card-container">
                        <div class="card border-0 rounded-0 shadow-card table-general">
                            <div class="card-header pt-1 pb-1 bg_gris_claro shadow-header">
                                <div class="row d-flex flex-row justify-content-between align-items-center align-self-center">
                                    <div class="col">
                                        <h1 class="txt_color_negro txt_sm tip_fuen_helvetica_r">Cantidad de descargas por enfermedad</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-0 overflow-hidden card-useractivity-large" id="chartDisease"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-4 mt-sm-4 mt-md-0 mt-lg-0 mt-xl-0 pl-md-0 pr-md-3 pl-lg-0 pr-lg-3 pl-xl-0 pr-xl-3 card-useractivity-large-table">
            <div class="row">
                <div class="col-12">
                    <div class="card-container">
                        <div class="card border-0 rounded-0 shadow-card table-general">
                            <div class="card-header pt-1 pb-1 bg_gris_claro shadow-header">
                                <div class="col-12 pl-0 d-flex flex-row justify-content-start align-items-center align-self-center">
                                    <h1 class="txt_color_negro txt_sm tip_fuen_helvetica_r">Archivos descargados</h1>
                                    <button (click)="borrarArchivos()" class="button-desactivate-custom set_cursor ml-3">
                    <div class="d-flex flex-row justify-content-center align-items-center align-self-center">
                      <span class="tip_fuen_helvetica_l"><i class="fa icon-basurero"></i></span><span
                        class="tip_fuen_helvetica_l"><i class="fa icon-basurero"></i></span></div>
                  </button>
                                </div>
                            </div>
                            <div class="card-body d-flex flex-column pl-0 pr-0 pb-0 pt-0 card-useractivity-large-table">
                                <div class="table-responsive mb-3">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">
                                                    <span class="txt_color_negro txt_sm tip_fuen_helvetica_l">Id</span>
                                                </th>
                                                <th scope="col">
                                                    <span class="txt_color_negro txt_sm tip_fuen_helvetica_l">Usuario</span>
                                                </th>
                                                <th scope="col">
                                                    <span class="txt_color_negro txt_sm tip_fuen_helvetica_l">Enfermedad</span>
                                                </th>
                                                <th scope="col">
                                                    <span class="txt_color_negro txt_sm tip_fuen_helvetica_l">Entidad</span>
                                                </th>
                                                <th scope="col">
                                                    <span class="txt_color_negro txt_sm tip_fuen_helvetica_l">Fecha</span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let dato of datos | paginate: { itemsPerPage: 5, currentPage: pageActual }; let i = index">
                                                <td><span class="txt_color_negro txt_xs tip_fuen_helvetica_r letter">{{i}}</span></td>
                                                <td><span class="txt_color_negro txt_xs tip_fuen_helvetica_r letter">{{dato.nombre}}</span>
                                                </td>
                                                <td><span class="txt_color_negro txt_xs tip_fuen_helvetica_r letter">{{dato.enfermedad}}</span>
                                                </td>
                                                <td><span class="txt_color_negro txt_xs tip_fuen_helvetica_r letter">{{dato.entidad}}</span>
                                                </td>
                                                <td><span class="txt_color_negro txt_xs tip_fuen_helvetica_r letter">{{dato.fecha}}</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="d-flex flex-row justify-content-center align-items-center align-self-center mt-0">
                                    <p class="txt_color_negro txt_xs tip_fuen_helvetica_l text-center mb-2">Existen un total de
                                        <span>{{ datos.length }}</span> registros</p>
                                </div>
                                <div class="d-flex flex-row justify-content-center align-items-center align-self-center">
                                    <pagination-controls autoHide="true" responsive="true" previousLabel="Anterior" nextLabel="Siguiente" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page" (pageChange)="pageActual = $event">
                                    </pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>